<div class="px-2 pt-4 pb-2">
	<h1 class="font-extrabold text-3xl">{{ id() + '.title' | translate }}</h1>
</div>
@defer(when !!formType() && !!schema()) {
<form
	[formGroup]="form"
	[ngxsForm]="formPath()"
	[ngxsFormClearOnDestroy]="true"
	class="grid grid-cols-[1fr_1fr] gap-3 px-2"
>
	@for(field of schema()?.fields ?? []; track $index) {
	<ng-container>
		@let shouldShow = relevanceRegistry()[field.key] &&
		form.contains(field.key);
		<ng-container>
			@if(shouldShow) { @let parentValue = rawData()[$any(field).parent];
			<cv-field
				[schema]="field"
				[formControlName]="field.key"
				[options]="formOptions()"
				[parentValue]="parentValue"
			/>
			}
		</ng-container>
	</ng-container>
	}
</form>
}
