<div class="px-3 flex justify-between bg-(--card) border-b border-border h-8">
	<ul
		cdkListbox
		[cdkListboxValue]="[currentTab()]"
		(cdkListboxValueChange)="onTabChange($event.value[0])"
		class="list-none flex items-center"
	>
		@for (tab of tabs; track $index) {
			<li
				[cdkOption]="tab.key"
				class="inline-flex items-center border-b-2 border-transparent gap-2 p-1 cursor-pointer hover:bg-muted px-3 text-sm"
			>
				<ng-icon [name]="tab.icon" />
				<span>{{ tab.key + ".title" | translate }}</span>
			</li>
		}
	</ul>
</div>
<div class="overflow-y-auto max-h-[100%]">
	<p>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum vitae
		consequatur ducimus sit esse est exercitationem, reprehenderit a natus
		harum, enim mollitia eum quas! Laboriosam cumque culpa corrupti ea sint
		eius, deserunt placeat voluptatibus provident voluptatum saepe harum
		accusamus repellendus, ullam excepturi possimus? Molestias magnam totam
		voluptatem odit, similique possimus architecto doloremque amet sint autem
		nesciunt velit. Assumenda culpa, magnam voluptatum expedita ducimus cum
		quidem, eveniet pariatur neque ipsa nostrum quis? Labore quibusdam odio at
		deleniti quaerat tenetur nihil porro officiis, suscipit numquam sed
		accusamus quo hic? Doloribus necessitatibus cum, placeat ea, delectus
		voluptas laudantium tempora, eaque accusantium provident vero deleniti? Eum
		ab illo, iste repellat, similique quam rerum laudantium pariatur ipsum
		deserunt, nam expedita praesentium incidunt. Quas quod, pariatur minima
		suscipit consequuntur explicabo nostrum minus aliquid sit voluptates dicta
		excepturi quaerat iste, natus in repellat cumque tempore autem qui veniam
		deserunt magnam maiores ratione doloribus. Eius rem, deleniti recusandae qui
		voluptatem amet totam dolorem delectus quas cum! Beatae minima facere
		eveniet illum ipsa nihil eius ut nam, ab aliquid vero temporibus omnis sint
		commodi, expedita sequi quidem eligendi fugit officiis, fuga veritatis est
		itaque repellat! Ullam fuga deleniti illum iste porro? Harum mollitia
		obcaecati quidem ipsum vel officia quisquam!
	</p>
</div>
