<div class="px-3 flex justify-between bg-(--card) border-y border-border h-8">
	<ul
		cdkListbox
		[cdkListboxValue]="[currentTab() ?? descriptionTab.key]"
		(cdkListboxValueChange)="onTabChange($event.value[0])"
		class="list-none flex items-center"
	>
		@for (tab of tabs; track $index) {
			<li
				[cdkOption]="tab.key"
				class="gap-3 inline-flex items-center justify-between border-b-2 border-transparent p-1 cursor-pointer hover:bg-muted px-3 text-sm"
			>
				<div class="inline-flex items-center gap-1">
					<ng-icon [name]="tab.icon" />
					<span>{{ tab.key + ".title" | translate }}</span>
				</div>
				@if (tab.badgeValue) {
					<span
						class="rounded-full pt-0.5 size-5 text-xs text-center"
						[ngClass]="{
							'bg-red-500 text-white':
								tab.badgeVariant == 'destructive' && currentTab() == tab.key,
							'bg-muted': currentTab() != tab.key,
						}"
						>{{ tab.badgeValue() | number }}</span
					>
				}
			</li>
		}
	</ul>
</div>
<div
	class="overflow-y-auto h-[calc(100%-2rem)] px-4 pt-1 relative scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
>
	@switch (currentTab()) {
		@case (errorTab.key) {
			<ng-container [ngTemplateOutlet]="errorsTemplate" />
		}
		@case (descriptionTab.key) {
			<ng-container [ngTemplateOutlet]="descriptionTemplate" />
		}
		@case (historyTab.key) {
			<ng-container [ngTemplateOutlet]="historyTemplate" />
		}
		@default {
			{{ "coming_soon" | translate }}
		}
	}
</div>

<ng-template #historyTemplate> history </ng-template>

<ng-template #descriptionTemplate>
	{{ "coming_soon" | translate }}
</ng-template>

<ng-template #errorsTemplate>
	<div class="grid grid-cols-[minmax(auto,40%)_1fr] gap-x-3 gap-y-1">
		@for (
			h of [
				"form.footer.tabs.errors.columns.field",
				"form.footer.tabs.errors.columns.msg",
			];
			track $index
		) {
			<p
				class="sticky top-0 font-semibold bg-(--background) border-b border-border"
			>
				{{ h | translate }}
			</p>
		}

		@let list = currentSectionErrors() | keyvalue;
		<!-- {{list | json}} -->
		@for (entry of list; track $index) {
			<p class="line-clamp-1 text-sm font-light">
				{{ entry.key + ".title" | translate }}
			</p>
			<p class="text-sm font-light">
				@for (err of entry.value | keyvalue; track $index) {
					@switch (err.key) {
						@case ("required") {
							{{ err.value | translate }}
						}
						@case ("pattern") {
							{{ err.value | translate }}
						}
						@case ("invalidValue") {
							{{
								err.value
									| translate
										: {
												validValues: $any(entry.value).validValues | join,
										  }
							}}
						}
					}
				}
			</p>
		}
	</div>
</ng-template>
