@reference "tailwindcss";

:host {
  @apply h-full grid grid-cols-[auto_1fr] grid-rows-[auto_1fr_auto] overflow-hidden;
}

.section-item {
	@apply rounded-md border-l-4 border-transparent focus-within:ring-1 focus-within:ring-(--primary);
	& > a {
		@apply flex items-center gap-2 p-2;
	}
	&:not(:has(a.active)) {
		@apply hover:bg-gray-500/20 text-(--muted-foreground) hover:text-inherit;
	}
	&:has(a.active) {
		@apply border-(--primary) bg-gray-500/20 font-bold;
	}
}
