<div #mapContainer></div>
<div
	class="flex items-center text-muted-foreground bg-secondary italic text-sm gap-1 py-1 px-3"
>
	<span>Lat: {{ resolvedCoords().lat | number: "1.1-2" }},</span>
	<span>Lon: {{ resolvedCoords().lng | number: "1.1-2" }}</span>
</div>

@if (!network.online()) {
	<div
		class="gap-3 dark:bg-black/70 bg-white/70 text-lg dark:text-muted-foreground absolute w-full backdrop-blur-lg z-1000 h-full flex items-center justify-center"
	>
		<ng-icon name="lucideCircleAlert" />
		<p>{{ "controls.gps.conn_notice" | translate }}</p>
	</div>
}
