<div class="grid grid-cols-1 gap-3 md:grid-cols-[250px_250px]">
	<div hlmField>
		<label hlmFieldLabel for="{{ index() }}__date_min_input"
			>Minimum Date</label
		>
		<cv-date-picker
			[pickTime]="meta().type().value() == 'date-time'"
			autoCloseOnSelect
			id="{{ index() }}__date_min_input"
			[formField]="meta().min"
		/>
		<cv-field-error [field]="meta().min" />
	</div>
	<div hlmField>
		<label hlmFieldLabel for="{{ index() }}__date_max_input"
			>Maximum Date</label
		>
		<cv-date-picker
			[pickTime]="meta().type().value() == 'date-time'"
			autoCloseOnSelect
			id="{{ index() }}__date_max_input"
			[formField]="meta().max"
		/>
		<cv-field-error [field]="meta().max" />
	</div>
	<div hlmField>
		<label hlmFieldLabel for="{{ index() }}__date_default_input"
			>Default Value</label
		>
		<cv-date-picker
			[pickTime]="meta().type().value() == 'date-time'"
			autoCloseOnSelect="true"
			id="{{ index() }}__date_default_input"
			[formField]="meta().defaultValue"
		/>
		<cv-field-error [field]="meta().defaultValue" />
	</div>
</div>
