@reference "tailwindcss";

:host {
  @apply block h-full overflow-y-auto max-h-full;
}

li {
  & > a {
    @apply pl-4 border-l-2;
    &:not(.active-fragment) {
      @apply border-transparent text-(--muted-foreground) hover:text-(--primary) hover:border-(--primary) hover:font-medium;
    }
    &.active-fragment {
      @apply text-(--primary) border-(--primary) font-medium;
    }
  }
}
