<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<!--        <property name="hibernate.connection.username">postgres</property>-->
<!--        <property name="hibernate.connection.password">password</property>-->
<!--        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>-->

        <property name="connection_pool_size">20</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
    </session-factory>
</hibernate-configuration>

<!--hibernate.connection.provider_class=org.hibernate.hikaricp.HikariCPConnectionProvider-->
<!--hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect-->
<!--hibernate.hikari.maximumPoolSize = 20-->
<!--hibernate.hikari.minimumIdle = 5-->
<!--hibernate.hikari.idleTimeout = 600000-->
<!--hibernate.hikari.hikari.connectionTimeout= 30000-->
<!--hibernate.show_sql=true-->
<!--hibernate.format_sql=true-->
<!--hibernate.highlight_sql=true-->

<!--# Automatically export the schema-->
<!--hibernate.hbm2ddl.auto=create-->