<div
	class="px-4 h-[2.8rem] border-b border-border flex items-center justify-between"
>
	<div class="flex items-center gap-3">
		@defer (when wideLogoUrl.hasValue() && !wideLogoUrl.isLoading()) {
		<a draggable="false" routerLink="/" class="outline-none" tabindex="-1">
			<img [src]="wideLogoUrl.value()" width="25" alt="LogoWide" />
		</a>
		}
		<ul class="flex list-none gap-3">
			@for (link of leftLinks; track $index) {
			<li class="menu-link">
				<a
					draggable="false"
					class="flex items-center gap-2 outline-none"
					routerLinkActive="active-route"
					[routerLinkActiveOptions]="{ exact: false }"
					[routerLink]="link.path"
				>
					<ng-icon [name]="link.icon" />
					<span>{{ link.label | translate }}</span>
				</a>
			</li>
			}
		</ul>
	</div>
	<div class="flex items-center gap-2">
		<cv-locale-selector size="sm" />
		<cv-theme-selector size="sm" />
		<ng-container>
			<button
				[disabled]="signingOut()"
				(click)="signOut()"
				hlmBtn
				size="sm"
				variant="secondary"
			>
				@if(!signingOut()) {
				<span class="capitalize"
					>{{ 'auth.actions.sign_out' | translate }}</span
				>
				}
				<ng-icon
					[name]=" signingOut() ? 'lucideLoader' : 'lucideLogOut'"
					[class.animate-spin]="signingOut()"
				/>
			</button>
		</ng-container>
	</div>
</div>
<main
	class="max-h-[calc(100vh-2.8rem)] scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
>
	<router-outlet />
</main>
<div class="flex justify-end items-center px-4 border-t border-border py-2">
	<div class="flex gap-2 items-center">
		<span class="text-muted-foreground text-xs"
			>{{ 'misc.signed_in_as' | translate }}:</span
		>
		<span class="font-medium text-sm">{{ principal()?.name }}</span>
		@if(principal()?.isAdmin) {
		<span class="uppercase text-xs!" hlmBadge>Admin</span>
		}
	</div>
</div>
