@reference "tailwindcss";

:host {
  @apply grid grid-rows-[auto_1fr_auto] h-full;
}

.menu-link {
  @apply px-2 py-1 rounded-md transition-colors focus-within:ring-1 focus-within:ring-(--primary);
  &:has(.active-route) {
    @apply font-bold bg-(--primary) hover:bg-(--primary) text-(--primary-foreground);
  }
  &:not(:has(.active-route)) {
    @apply hover:bg-(--muted);
  }
}
