<div
	class="px-4 h-[2.8rem] border-b border-border flex items-center justify-between"
>
	<div class="flex items-center gap-3">
		@defer (when wideLogoUrl.hasValue() && !wideLogoUrl.isLoading()) {
		<a routerLink="/" class="outline-none" tabindex="-1">
			<img [src]="wideLogoUrl.value()" width="25" alt="LogoWide" />
		</a>
		}
		<ul class="flex list-none gap-3">
			@for (link of leftLinks; track $index) {
			<li class="menu-link">
				<a
					class="flex items-center gap-2 outline-none"
					routerLinkActive="active-route"
					[routerLinkActiveOptions]="{ exact: false }"
					[routerLink]="link.path"
				>
					<ng-icon [name]="link.icon" />
					<span>{{ link.label | translate }}</span>
				</a>
			</li>
			}
		</ul>
	</div>
	<div class="flex items-center gap-2">
		<cv-locale-selector size="sm" />
		<cv-theme-selector size="sm" />
		@let i = initials();
		<ng-container>
			@if(i) {
			<hlm-avatar variant="large">
				<svg
					width="100"
					height="100"
					data-jdenticon-value="John Doe"
					hlmAvatarImage
				></svg>
				<span class="text-white bg-destructive uppercase" hlmAvatarFallback>
					{{i}}
				</span>
			</hlm-avatar>
			}
		</ng-container>
		<!-- <ng-template #userMenu>
			<hlm-dropdown-menu>
				<hlm-
			</hlm-dropdown-menu>
		</ng-template> -->
		<!-- <button
			[disabled]="signingOut()"
			(click)="signOut()"
			hlmBtn
			size="sm"
			variant="secondary"
		>
			<ng-icon
				[name]=" signingOut() ? 'lucideLoader' : 'lucideLogOut'"
				[class.animate-spin]="signingOut()"
			/>
			@if(!signingOut()) {
			<span>{{ 'auth.actions.sign_out' | translate }}</span>
			}
		</button> -->
	</div>
</div>
<main
	class="max-h-[calc(100vh-2.8rem)] scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
>
	<router-outlet />
</main>
