<div hlmField>
	<div hlmFieldContent>
		<label hlmFieldLabel for="group_{{ key }}_group_input"> Group key </label>
		<input
			hlmInput
			[field]="formModel.group"
			id="group_{{ key }}_group_input"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{ $implicit: formModel.group() }"
		/>
	</div>
</div>
<div
	#togglePanel
	(dblclick)="toggleExpanded($event)"
	[ngClass]="{
		'flex justify-between transition-all items-center mt-3 py-3 px-2 rounded-md border cursor-pointer': true,
		'border-t border-x border-border rounded-b-none border-b-0': expanded(),
	}"
>
	<div class="flex gap-3 items-baseline">
		<label hlmLabel> {{ value().items.length }} Options </label>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{ $implicit: formModel.items() }"
		/>
	</div>
	<div class="flex gap-3 items-baseline">
		@if (expanded()) {
			<button
				(click)="onAddOptionButtonClicked()"
				hlmBtn
				type="button"
				variant="outline"
				size="icon-sm"
			>
				<ng-icon name="lucidePlus" />
			</button>
			<label hlmLabel class="flex items-center gap-3 cursor-pointer">
				<span>Use Sequential values</span>
				<hlm-switch [(checked)]="optionsSequential" />
			</label>
		}
		<button
			(click)="toggleExpanded($event)"
			hlmBtn
			type="button"
			[variant]="expanded() ? 'secondary' : 'ghost'"
			size="icon-sm"
		>
			<ng-icon [name]="!expanded() ? 'lucideChevronDown' : 'lucideChevronUp'" />
		</button>
	</div>
</div>
@if (expanded()) {
	<div
		hlmFieldGroup
		animate.enter="expand"
		animate.leave="shrink"
		[class.pt-2]="newItems().length == 0"
		class="relative text-(--secondary-foreground) pb-2 border-border border rounded-b-md bg-(--secondary)/50 max-h-[500px] overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
	>
		@if (newItems().length > 0) {
			<div
				class="py-2 sticky top-0 z-9999 backdrop-blur-md border-b border-border shadow-md"
			>
				<div hlmFieldGroup class="overflow-y-hidden max-h-[400px]">
					<fieldset hlmFieldSet>
						<legend hlmFieldLegend class="px-2">New Options</legend>
						<p hlmFieldDescription class="px-2">
							The options you add here will be appended to the end of the list
							of existing options
						</p>
						<div
							hlmFieldGroup
							cdkDropList
							(cdkDropListDropped)="onNewItemReOrdered($event)"
							class="items max-h-[250px] overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
						>
							@for (option of formModel.items; track option) {
								@if ($index >= newItemsOffsetIndex()) {
									<div
										[ngClass]="{
											'border-b border-border': !$last,
										}"
										class="item px-2"
										cdkDrag
										cdkDragLockAxis="y"
									>
										<div class="drag-placeholder" *cdkDragPlaceholder></div>
										<div
											hlmFieldGroup
											class="items-end grid gap-x-2 grid-cols-[auto_minmax(auto,1fr)_1fr_auto] group"
										>
											<div
												cdkDragHandle
												class="font-extrabold cursor-grab active:cursor-grabbing text-muted-foreground p-2 size-10 flex items-center justify-center rounded-md border border-border"
											>
												<ng-icon name="lucideMenu" />
											</div>
											<ng-container
												[ngTemplateOutlet]="optionRowTemplate"
												[ngTemplateOutletContext]="{
													$implicit: option,
													index: $index,
													last: $last,
													unifiedIndex: $index,
												}"
											/>
										</div>
									</div>
								}
							}
						</div>
					</fieldset>
				</div>
			</div>
		}
		<div
			class="items"
			cdkDropList
			(cdkDropListDropped)="onItemReOrdererd($event)"
		>
			@for (option of formModel.items; track option) {
				@if (!option.isNew().value()) {
					<div
						[ngClass]="{
							'border-b border-border': $index < newItemsOffsetIndex() - 1,
						}"
						class="item px-2"
						cdkDrag
						cdkDragLockAxis="y"
					>
						<div class="drag-placeholder" *cdkDragPlaceholder></div>
						<div
							hlmFieldGroup
							class="px-2 items-end grid gap-x-2 grid-cols-[auto_minmax(auto,1fr)_1fr_auto] group"
						>
							<div
								cdkDragHandle
								class="font-extrabold cursor-grab active:cursor-grabbing text-muted-foreground p-2 size-10 flex items-center justify-center rounded-md border border-border"
							>
								<ng-icon name="lucideMenu" />
							</div>
							<ng-container
								[ngTemplateOutlet]="optionRowTemplate"
								[ngTemplateOutletContext]="{
									$implicit: option,
									index: $index,
									last: $last,
									unifiedIndex: $index,
								}"
							/>
						</div>
					</div>
				}
			}
		</div>
	</div>
}

<ng-template
	#optionRowTemplate
	let-fieldSignal
	let-index="index"
	let-unifiedIndex="unifiedIndex"
>
	<div hlmField>
		<label hlmFieldLabel for="{{ key }}__label_input_{{ index }}">
			Label
		</label>
		<div hlmFieldContent>
			<input hlmInput [field]="fieldSignal.label" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{ $implicit: fieldSignal.label() }"
			/>
		</div>
	</div>
	<div hlmField>
		<label hlmFieldLabel for="{{ key }}__value_input_{{ index }}">
			Value
		</label>
		<div hlmFieldContent>
			<input hlmInput [field]="fieldSignal.name" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{ $implicit: fieldSignal.name() }"
			/>
		</div>
	</div>
	<button
		(click)="onDeleteOptionButtonClicked(index)"
		class="group-hover:pointer-events-auto group-hover:opacity-100 pointer-events-none opacity-0"
		type="button"
		size="icon-sm"
		hlmBtn
		variant="outline"
	>
		<ng-icon name="lucideTrash2" />
	</button>
</ng-template>

<ng-template #errorsTemplate let-field>
	@if ((field.invalid() && field.touched()) || field.value().isNew) {
		<div class="space-y-1">
			@for (error of field.errors(); track error) {
				<hlm-field-error>
					{{ error.message }}
				</hlm-field-error>
			}
		</div>
	}
</ng-template>
