<!-- @if(reloggingIn()) {
<div
	class="w-screen z-9999 fixed top-0 h-screen backdrop-blur flex items-center justify-center"
	animate.enter="slide-up"
	animate.leave="slide-down"
>
	<div
		class="border-border border px-4 py-2 rounded-full flex items-center gap-2 shadow-lg"
	>
		<ng-icon name="lucideLoader" class="animate-spin" />
		<span>Re-connecting...</span>
	</div>
</div>
} -->
<div class="hidden md:block">
	<ng-container [ngTemplateOutlet]="heroTemplate" />
</div>
<div class="hidden items-center md:flex">
	<hlm-separator orientation="vertical" class="max-h-[350px]" />
</div>
<div class="w-full grid grid-rows-[1fr_auto] py-4">
	<div
		class="flex flex-col items-center justify-center overflow-y-auto h-full gap-4"
	>
		<router-outlet />
		@if(settingsSheetOpenState() !== 'open' && discoveringServer()) {
		<div
			class="border border-border py-2 px-4 shadow-sm rounded-full flex justify-center items-center gap-2 text-sm text-muted-foreground"
		>
			<ng-icon size="13" name="lucideLoader" class="animate-spin" />
			<span>{{ "auth.idm.discovery.in_progress" | translate }}</span>
		</div>
		}
	</div>
	<div class="flex justify-center items-center gap-3 px-4">
		<cv-theme-selector size="sm" />
		<hlm-separator orientation="vertical" />
		<cv-locale-selector />
		@if(!discoveringServer()) {
		<hlm-separator orientation="vertical" />
		<button
			hlmBtn
			size="sm"
			variant="secondary"
			(click)="settingsSheetOpenState.set('open')"
		>
			<ng-icon name="lucideSettings" />
			@if(!serverOnline()){
			<span class="bg-yellow-500 size-2 rounded-full"></span>
			}
		</button>
		}
		<hlm-sheet
			[state]="settingsSheetOpenState()"
			(stateChanged)="settingsSheetOpenState.set($event)"
			side="right"
			#settingsSheet
		>
			<hlm-sheet-content *brnSheetContent="let ctx">
				<hlm-sheet-header>
					<hlm-sheet-header>
						<h3 hlmSheetTitle class="flex items-center gap-2">
							<ng-icon name="lucideSettings" />
							<span>{{ 'auth.settings.title' | translate }}</span>
						</h3>
					</hlm-sheet-header>
				</hlm-sheet-header>
				<div class="px-4">
					<cv-api-params-config
						(changed)="settingsSheetOpenState.set('closed')"
						[discoveringServer]="discoveringServer()"
					/>
				</div>
			</hlm-sheet-content>
		</hlm-sheet>
	</div>
</div>

<ng-template #heroTemplate>
	<div class="flex items-center justify-center flex-col gap-1 h-full">
		<img
			[src]="wideLogoUrl.value()"
			alt="wide logo url"
			draggable="false"
			style="-webkit-user-drag: none"
			width="240"
		/>
		<p class="text-muted-foreground text-xs">
			(v{{ buildInfo.value()?.version }})
		</p>
		<p class="text-muted-foreground text-xs">
			{{ 'misc.powered_by' | translate }}
		</p>
		<img
			[src]="sponsorUrl.value()"
			alt="sponsor logo url"
			draggable="false"
			style="-webkit-user-drag: none"
			width="140"
		/>
	</div>
</ng-template>
