<div class="hidden md:block">
	<ng-container [ngTemplateOutlet]="heroTemplate" />
</div>
<div class="hidden items-center md:flex">
	<hlm-separator orientation="vertical" class="max-h-[350px]" />
</div>
<div class="w-full grid grid-rows-[1fr_auto] py-4">
	<div class="flex items-center justify-center overflow-y-auto h-full">
		<router-outlet />
	</div>
	<div class="flex justify-center items-center gap-3 px-4">
		<cv-theme-selector size="sm" />
		<hlm-separator orientation="vertical" />
		<cv-locale-selector />
		<hlm-separator orientation="vertical" />
		<hlm-sheet side="right">
			<button brnSheetTrigger hlmBtn size="sm" variant="ghost">
				<ng-icon name="lucideSettings" />
			</button>
			<hlm-sheet-content *brnSheetContent="let ctx">
				<hlm-sheet-header>
					<hlm-sheet-header>
						<h3 hlmSheetTitle class="flex items-center gap-2">
							<ng-icon name="lucideSettings" />
							<span>Settings</span>
						</h3>
					</hlm-sheet-header>
				</hlm-sheet-header>
				<cv-auth-params-config />
			</hlm-sheet-content>
		</hlm-sheet>
	</div>
</div>

<ng-template #heroTemplate>
	<div class="flex items-center justify-center flex-col gap-1 h-full">
		<img
			[src]="wideLogoUrl.value()"
			alt="wide logo url"
			draggable="false"
			style="-webkit-user-drag: none"
			width="240"
		/>
		<p class="text-muted-foreground text-xs">
			(v{{ buildInfo.value()?.version }})
		</p>
		<p class="text-muted-foreground text-xs">
			{{ 'misc.powered_by' | translate }}
		</p>
		<img
			[src]="sponsorUrl.value()"
			alt="sponsor logo url"
			draggable="false"
			style="-webkit-user-drag: none"
			width="140"
		/>
	</div>
</ng-template>
