<div class="px-4">
	<h3 hlmH3>{{ 'settings.dataset.title' | translate }}</h3>
</div>
<form
	[formGroup]="form"
	(ngSubmit)="onFormSubmit()"
	(reset)="onFormReset($event)"
>
	<div
		class="px-4 sticky top-0 py-2 backdrop-blur border-b border-muted z-99999 flex justify-between items-center flex-wrap"
	>
		<div class="space-y-2">
			<!-- <legend hlmFieldLegend>Datasets</legend> -->
			<p hlmFieldDescription>
				{{'settings.dataset.form.description' | translate}}
			</p>
		</div>
		<div class="flex items-center gap-2">
			@if(form.dirty) {
			<button type="submit" hlmBtn [disabled]="form.invalid || savingChanges()">
				<ng-icon
					[class.animate-spin]="savingChanges()"
					[name]="savingChanges() ? 'lucideLoader' : 'lucideSaveAll'"
				/>
				<span>
					@if(savingChanges()) {{{'misc.actions.saving_changes' |
					translate}}...} @else {{{'misc.actions.save' | translate}}}
				</span>
			</button>
			<button
				type="reset"
				[disabled]="savingChanges()"
				hlmBtn
				variant="destructive"
			>
				<ng-icon name="lucideX" />
				<span>{{'misc.actions.discard' | translate}}</span>
			</button>
			}
			<button
				(click)="onAddGroupButtonClicked()"
				type="button"
				hlmBtn
				[disabled]="savingChanges()"
				variant="secondary"
			>
				<ng-icon name="lucidePlus" />
				<div class="inline-flex gap-2">
					<span
						>{{ 'settings.dataset.form.actions.add_new.title' | translate
						}}</span
					>
					<kbd hlmKbdGroup>
						<kbd hlmKbd> @if(isMac){⌘} @else {Ctrl} + =</kbd>
					</kbd>
				</div>
			</button>
		</div>
	</div>
	<div hlmFieldGroup formArrayName="groups" class="pt-2">
		@for(groupCtrl of form.controls.groups.controls; track
		groupCtrl.value.meta!.trackingKey; let lineIndex = $index) {
		<div
			class="px-4 group/line grid lg:grid-cols-[75%_auto] grid-cols-[1fr_auto] items-start"
		>
			<div formGroupName="{{$index}}">
				<div hlmFieldGroup formGroupName="data">
					<div hlmFieldGroup class="flex gap-2">
						<div class="grid gap-x-3 grid-cols-2 items-end">
							<div hlmField>
								<div hlmFieldContent>
									<label hlmFieldLabel for="group__{{lineIndex}}__title_input"
										>{{'settings.dataset.form.fields.group_title.title' |
										translate}} <span class="text-red-500">*</span></label
									>
									<input
										hlmInput
										formControlName="title"
										id="group__{{lineIndex}}__title_input"
									/>
									@if(groupCtrl.controls.data.controls.title.invalid &&
									groupCtrl.controls.data.controls.title.touched){
									<ng-container
										[ngTemplateOutlet]="errorsTemplate"
										[ngTemplateOutletContext]="{$implicit:  groupCtrl.controls.data.controls.title}"
									/>
									} @else {
									<p hlmFieldDescription class="line-clamp-1 text-ellipsis">
										{{ 'settings.dataset.form.fields.group_title.description' |
										translate }}
									</p>
									}
								</div>
							</div>
							<div hlmField>
								<div hlmFieldContent>
									<div class="flex justify-between items-end">
										<label hlmFieldLabel for="group__{{lineIndex}}__key_input">
											{{'settings.dataset.form.fields.key.title' | translate}}
											<span class="text-red-500">*</span>
										</label>
										<button
											type="button"
											(click)="generateGroupKeyAt(lineIndex)"
											hlmBtn
											size="icon-sm"
											title="Generate"
											tabindex="-1"
											variant="ghost"
										>
											<ng-icon name="lucideRefreshCw" />
										</button>
									</div>
									<input
										hlmInput
										formControlName="key"
										id="group__{{lineIndex}}__key_input"
									/>
									@if(groupCtrl.controls.data.controls.key.invalid &&
									groupCtrl.controls.data.controls.key.touched){
									<ng-container
										[ngTemplateOutlet]="errorsTemplate"
										[ngTemplateOutletContext]="{$implicit:  groupCtrl.controls.data.controls.key}"
									/>
									} @else {
									<p hlmFieldDescription class="line-clamp-1 text-ellipsis">
										{{ 'settings.dataset.form.fields.key.description' |
										translate }}
									</p>
									}
								</div>
							</div>
						</div>
						<ng-container> @let parent = parents()[lineIndex]; </ng-container>
						@if(hasExistingGroups() && (availableParents()[lineIndex]?.length ??
						0) > 0) {
						<div hlmField>
							<div hlmFieldContent>
								<label
									hlmFieldLabel
									for="group__{{lineIndex}}__parent_group_select"
									>{{ 'settings.dataset.form.fields.parent.title' | translate
									}}</label
								>
								<hlm-select
									formControlName="parentId"
									placeholder="Select parent group"
									class="w-full"
									id="group__{{lineIndex}}__parent_group_select"
								>
									<hlm-select-trigger class="w-full">
										<hlm-select-value>
											<span>{{parent?.data?.title}}</span>
										</hlm-select-value>
									</hlm-select-trigger>
									<hlm-select-content>
										<hlm-option [value]="null"
											>{{'misc.none' | translate}}</hlm-option
										>
										@for(g of availableParents()[lineIndex]; track g.data!.id) {
										<ng-container>
											<hlm-option class="cursor-pointer" [value]="g.data!.id">
												<span class="line-clamp-1 text-ellipsis">
													{{g.data!.title}}
												</span>
											</hlm-option>
										</ng-container>
										}
									</hlm-select-content>
								</hlm-select>
								<p hlmFieldDescription class="line-clamp-2 text-ellipsis">
									{{ 'settings.dataset.form.fields.parent.description' |
									translate }}
								</p>
							</div>
						</div>
						}
					</div>
					<div hlmField>
						<div hlmFieldContent>
							<label hlmFieldLabel for="group__{{lineIndex}}__description_input"
								>{{'settings.dataset.form.fields.description.title' |
								translate}}</label
							>
							<textarea
								hlmTextarea
								rows="5"
								formControlName="description"
							></textarea>
						</div>
					</div>
				</div>
				@let expanded = groupCtrl.value.meta?.expanded;
				<div
					#expansionPanel
					(dblclick)="onToggleExpanded($event, lineIndex)"
					[ngClass]="{
						'flex justify-between transition-all items-center mt-3 py-3 px-2 rounded-md border cursor-pointer': true,
						'borer-t borer-x border-border rounded-b-none border-b-0': expanded === true
					}"
				>
					<div class="flex gap-3 items-baseline">
						@let optionLength =
						groupCtrl.controls.data.controls.options.controls.length;
						<label hlmLabel class="block"
							>{{optionLength}} {{'settings.dataset.form.fields.items.title' |
							translate }}{{optionLength != 1 ? 's' : ''}}</label
						>
						<ng-container
							[ngTemplateOutlet]="errorsTemplate"
							[ngTemplateOutletContext]="{
							$implicit: groupCtrl.controls.data.controls.options
						}"
						/>
					</div>
					<div class="flex gap-3 items-baseline">
						@if(expanded) {
						<button
							(click)="onAddOptionButtonClicked(lineIndex)"
							hlmBtn
							type="button"
							variant="outline"
							size="icon-sm"
						>
							<ng-icon name="lucidePlus" />
						</button>
						@let isSequential = itemsSequential()[lineIndex];
						<p
							[ngClass]="{
								'text-green-500 dark:text-green-600': isSequential,
								'text-muted-foreground': !isSequential
							}"
							class="text-xs font-medium flex items-center gap-3"
						>
							<span class="capitalize"
								>{{'misc.sequence' | translate}}: {{ (isSequential ?
								'misc.active' : 'misc.inactive') | translate }}</span
							>
						</p>
						}
						<button
							(click)="onToggleExpanded($event, lineIndex)"
							hlmBtn
							type="button"
							[variant]="expanded ? 'secondary' : 'ghost'"
							size="icon-sm"
						>
							<ng-icon
								[name]="!expanded ? 'lucideChevronDown' : 'lucideChevronUp'"
							/>
						</button>
					</div>
				</div>
				@if(expanded) {
				<ng-container>@let newItems = newOptions()[lineIndex];</ng-container>
				<div
					formGroupName="data"
					hlmFieldGroup
					animate.enter="expand"
					animate.leave="shrink"
					[class.pt-2]="newItems.length == 0"
					class="relative text-(--secondary-foreground) pb-2 border-border border rounded-b-md bg-(--secondary)/50 max-h-[350px]! overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
				>
					@if(newItems.length > 0) {
					<div
						class="py-2 sticky top-0 z-9999 backdrop-blur-md border-b border-border shadow-md"
					>
						<div hlmFieldGroup class="overflow-y-hidden max-h-[350px]">
							<fieldset hlmFieldSet>
								<legend hlmFieldLegend class="px-2 pt-2">
									{{'settings.dataset.form.fields.items.new_item.title' |
									translate}}
								</legend>
								<p hlmFieldDescription class="px-2">
									{{'settings.dataset.form.fields.items.new_item.description' |
									translate}}
								</p>
								<div
									formArrayName="options"
									hlmFieldGroup
									(cdkDropListDropped)="onNewItemReordered($event, lineIndex)"
									cdkDropList
									class="items max-h-[250px] overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
								>
									@for(itemValue of newOptions()[lineIndex]; track
									itemValue.trackingKey) {
									<ng-container formGroupName="{{$index}}">
										<div
											class="item px-2 group/item border-border border-b"
											cdkDrag
											cdkDragLockAxis="y"
										>
											<div class="drag-placeholder" *cdkDragPlaceholder></div>
											<div
												hlmFieldGroup
												class="items-start grid gap-x-2"
												[ngClass]="{
												'grid-cols-[auto_minmax(auto,1fr)_1fr_1fr_auto]': !!parents()[lineIndex],
												'grid-cols-[auto_minmax(auto,1fr)_1fr_auto]': !parents()[lineIndex]
											}"
											>
												<div class="flex items-center justify-center self-end">
													<div
														cdkDragHandle
														class="cursor-grab active:cursor-grabbing text-muted-foreground p-2 size-10 flex items-center justify-center rounded-md border-border"
													>
														<ng-icon name="lucideMenu" />
													</div>
												</div>
												<ng-container
													[ngTemplateOutlet]="optionRowTemplate"
													[ngTemplateOutletContext]="{
															$implicit: form.controls.groups.at(lineIndex).controls.data.controls.options.controls.at($index + newItemsIndexOffset()[lineIndex]),
															index: $index,
															last: $last,
															unifiedIndex: $index + newItemsIndexOffset()[lineIndex],
															line: lineIndex
														}"
												/>
											</div>
										</div>
									</ng-container>
									}
								</div>
							</fieldset>
						</div>
					</div>
					}
					<div
						class="items"
						cdkDropList
						formArrayName="options"
						(cdkDropListDropped)="onItemReordered($event, lineIndex)"
					>
						@for(itemCtrl of groupCtrl.controls.data.controls.options.controls;
						track itemCtrl.value!.trackingKey) {
						<ng-container>
							@if($index < newItemsIndexOffset()[lineIndex]){
							<div
								[ngClass]="{
										'border-b border-border': true
									}"
								class="px-2 item group/item"
								cdkDrag
								cdkDragLockAxis="y"
							>
								<div class="drag-placeholder" *cdkDragPlaceholder></div>
								<div
									hlmFieldGroup
									class="px-2 items-end grid gap-x-2"
									[ngClass]="{
										'grid-cols-[auto_minmax(auto,1fr)_1fr_1fr_auto]': !!parents()[lineIndex],
										'grid-cols-[auto_minmax(auto,1fr)_1fr_auto]': !parents()[lineIndex]
									}"
								>
									<div class="flex items-center justify-center self-end">
										<div
											cdkDragHandle
											class="font-extrabold cursor-grab active:cursor-grabbing text-muted-foreground p-2 size-10 flex items-center justify-center rounded-md border border-border"
										>
											<ng-icon name="lucideMenu" />
										</div>
									</div>
									<ng-container
										[ngTemplateOutlet]="optionRowTemplate"
										[ngTemplateOutletContext]="{
										$implicit: itemCtrl,
										index: $index,
										last: $last,
										unifiedIndex: $index,
										line: lineIndex
									}"
									/>
								</div>
							</div>
							}
						</ng-container>
						}
					</div>
				</div>
				}
			</div>
			<div
				class="pt-2 flex justify-end flex-wrap gap-2 opacity-0 group-hover/line:opacity-100 transition-opacity"
			>
				<button
					(click)="onDeleteLineButtonClicked(lineIndex)"
					hlmBtn
					type="button"
					variant="destructive"
				>
					<ng-icon name="lucideTrash2" />
				</button>
			</div>
		</div>
		<ng-container>
			@if(!$last) {
			<hlm-separator />
			}
		</ng-container>
		}
	</div>
</form>

<hlm-alert-dialog [state]="pendingChangesDialogState()" #pendingChangesDialog>
	<hlm-alert-dialog-content *brnAlertDialogContent="let ctx" class="min-w-[500px]!">
		<hlm-alert-dialog-header>
			<h2 hlmAlertDialogTitle>
				{{ 'misc.dialogs.pending_changes.title' | translate}}
			</h2>
			<p hlmAlertDialogDescription>
				{{'misc.dialogs.pending_changes.description1' | translate}}
				<strong
					>{{ 'misc.dialogs.pending_changes.description2' | translate }}</strong
				>. {{'misc.dialogs.pending_changes.description3' | translate}}
			</p>
		</hlm-alert-dialog-header>
		<hlm-alert-dialog-footer>
			<button
				type="button"
				(click)="pendingChangesCallback?.({action: 'close', callback: ctx.close})"
				hlmAlertDialogCancel
				class="cursor-pointer"
			>
				<ng-icon name="lucideX" />
				<span>{{'misc.actions.stay_here' | translate }}</span>
			</button>
			<button
				type="button"
				(click)="pendingChangesCallback?.({action: 'save', callback: ctx.close})"
				hlmAlertDialogAction
				variant="default"
				class="cursor-pointer"
			>
				<ng-icon name="lucideSave" />
				<span>{{ 'misc.actions.save_and_leave' | translate }}</span>
			</button>
			<button
				type="button"
				hlmAlertDialogCancel
				variant="destructive"
				(click)="pendingChangesCallback?.({action: 'leave', callback: ctx.close})"
				class="cursor-pointer"
			>
				<ng-icon name="lucideTrash2" />
				<span>{{ 'misc.actions.discard' | translate }}</span>
			</button>
		</hlm-alert-dialog-footer>
	</hlm-alert-dialog-content>
</hlm-alert-dialog>

<hlm-alert-dialog [state]="lineDeletionDialogState()" #lineDeletionConfirmation>
	<hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
		<hlm-alert-dialog-header>
			<h2 hlmAlertDialogTitle>
				{{'settings.dataset.form.dialogs.group_deletion.title' | translate}}
			</h2>
			<p hlmAlertDialogDescription>
				{{'settings.dataset.form.dialogs.group_deletion.description1' |
				translate}}.
				<strong
					>{{'settings.dataset.form.dialogs.group_deletion.description2' |
					translate}}</strong
				>. {{'settings.dataset.form.dialogs.group_deletion.description3' |
				translate}}
			</p>
		</hlm-alert-dialog-header>
		<hlm-alert-dialog-footer>
			<button
				(click)="ctx.close();lineDeletionConfirmationCallback = undefined;lineDeletionDialogState.set('closed')"
				hlmAlertDialogAction
				class="cursor-pointer"
				type="button"
			>
				{{'settings.dataset.form.dialogs.group_deletion.actions.cancel' |
				translate}}
			</button>
			<button
				(click)="lineDeletionConfirmationCallback?.(ctx.close)"
				hlmAlertDialogCancel
				class="cursor-pointer"
				type="button"
			>
				{{'settings.dataset.form.dialogs.group_deletion.actions.proceed' |
				translate}}
			</button>
		</hlm-alert-dialog-footer>
	</hlm-alert-dialog-content>
</hlm-alert-dialog>

<ng-template
	#optionRowTemplate
	let-fg
	let-index="index"
	let-unifiedIndex="unifiedIndex"
	let-line="line"
>
	<ng-container [formGroup]="fg">
		<div hlmField>
			<label hlmFieldLabel for="{{line}}__label_input_{{unifiedIndex}}">
				{{'settings.dataset.form.fields.items.fields.label.title' | translate}}
				<span class="text-red-500">*</span>
			</label>
			<div hlmFieldContent>
				<input hlmInput formControlName="label" />
				<ng-container
					[ngTemplateOutlet]="errorsTemplate"
					[ngTemplateOutletContext]="{ $implicit: fg.controls.label }"
				/>
			</div>
		</div>
		<div hlmField>
			<label hlmFieldLabel for="{{line}}__value_input_{{unifiedIndex}}">
				{{'settings.dataset.form.fields.items.fields.value.title' | translate}}
				<span class="text-red-500">*</span>
			</label>
			<div hlmFieldContent>
				<input hlmInput formControlName="value" />
				<ng-container
					[ngTemplateOutlet]="errorsTemplate"
					[ngTemplateOutletContext]="{ $implicit: fg.controls.value }"
				/>
			</div>
		</div>
		<ng-container> @let parent = parents()[line]; </ng-container>
		@if(parent) {
		<div hlmField>
			<label hlmFieldLabel for="{{line}}__parent_input_{{unifiedIndex}}">
				{{'settings.dataset.form.fields.items.fields.parent_value.title' |
				translate}}
			</label>
			<div hlmFieldContent>
				<hlm-select
					id="{{line}}__parent_input_{{unifiedIndex}}"
					formControlName="parentValue"
					class="w-full"
				>
					<hlm-select-trigger class="w-full">
						<hlm-select-value />
					</hlm-select-trigger>
					<hlm-select-content class="w-full">
						<hlm-option [value]="null">{{'misc.none' | translate}}</hlm-option>
						@for(option of parent.data!.options; track option.id) {
						<hlm-option [value]="option.value">{{ option.label }}</hlm-option>
						}
					</hlm-select-content>
				</hlm-select>
				<ng-container
					[ngTemplateOutlet]="errorsTemplate"
					[ngTemplateOutletContext]="{ $implicit: fg.controls.parentValue }"
				/>
			</div>
		</div>
		}
		<div class="flex items-center justify-center self-end">
			<button
				type="button"
				class="group-hover/item:pointer-events-auto group-hover/item:opacity-100 pointer-events-none opacity-0"
				type="button"
				size="icon-sm"
				hlmBtn
				(click)="onDeleteGroupOptionButtonClicked(line, index)"
				variant="outline"
			>
				<ng-icon name="lucideTrash2" />
			</button>
		</div>
	</ng-container>
</ng-template>

<ng-template #errorsTemplate let-field>
	@if (field.pending) {
	<div hlmFieldDescription class="flex items-baseline gap-1">
		<ng-icon name="lucideLoader" class="animate-spin" />
		<span class="capitalize">{{'misc.checking'}}...</span>
	</div>
	} @else if (field.invalid) {
	<div
		class="space-y-1 transition-[colors,opacity]"
		animate.enter="opacity-100"
		animate.leave="opacity-0"
	>
		<ng-container> @let errors = field.errors | values; </ng-container>
		@for (error of errors; track error) {
		<span class="text-red-500 text-sm block">
			{{ $any(error).message | translate }}
		</span>
		}
	</div>
	}
</ng-template>
