<div class="px-4">
	<h3 hlmH3>Choice Editor</h3>
</div>
<form class="space-y-2">
	<div
		class="px-4 sticky top-0 py-2 backdrop-blur-md border-b border-muted z-99999 flex justify-between items-center flex-wrap"
	>
		<div class="space-y-2">
			<legend hlmFieldLegend>Form choices</legend>
			<p hlmFieldDescription>Add or edit choices for the form</p>
		</div>
		<div class="flex items-center gap-2">
			<button type="button" hlmBtn variant="secondary">
				<ng-icon name="lucidePlus" />
				<span>Add Group</span>
			</button>
		</div>
	</div>
	<div hlmFieldGroup>
		@for (group of formModel.groups; track $index; let groupIndex = $index) {
		<div class="px-4">
			<cv-group-choice-editor [field]="group" class="lg:max-w-3/4" />
		</div>
		<ng-container>
			@if (!$last) {
			<hlm-field-separator />
			}
		</ng-container>
		}
	</div>
</form>
