<form
	[formGroup]="inputForm"
	class="flex items-start justify-between relative max-h-full"
>
	<div
		formArrayName="groups"
		class="grid grid-cols-[auto_1fr] gap-x-3 gap-y-2 items-baseline max-h-full @sm:overflow-hidden overflow-y-auto"
	>
		@for (section of controls.controls; track $index) {
			@let schema = sectionMap()[section.value.id!];
			<ng-container
				[ngTemplateOutlet]="sectionTemplate"
				[ngTemplateOutletContext]="{
					schema,
					isChild: section.value.isChild,
					index: $index,
				}"
			/>
		}
	</div>
</form>

<ng-template
	#sectionTemplate
	let-schema="schema"
	let-child="isChild"
	let-index="index"
>
	@if (schema.id) {
		<h2 class="group-title col-span-2" [class.child-group-title]="child">
			{{ schema.id + ".title" | translate }}
		</h2>
	}
	@for (field of schema.fields; track field.key) {
		<ng-container
			[ngTemplateOutlet]="columnSelectorTemplate"
			[ngTemplateOutletContext]="{
				formGroup: controls.at(index).controls.fields,
				$implicit: field,
			}"
		/>
	}
</ng-template>

<ng-template #tableFieldTemplate let-schema let-fg="formGroup">
	<div class="flex items-center gap-3 col-span-2">
		<h2 class="group-title table">
			@let fieldKey = ($any(schema.key) | isString) ? schema.key : $any(schema.key).value;
			@if (schema.key | isString) {
				{{ fieldKey + ".title" | translate }}
			} @else {
				{{ fieldKey + '.title' | translate:$any(schema!.key).titleArgs }}
			}
		</h2>
		<span hlmBadge variant="outline" class="uppercase">Sub-form</span>
	</div>
	@let columns = schema.columns | values;
	@for (entry of columns; track $index) {
		<ng-container
			[ngTemplateOutlet]="columnSelectorTemplate"
			[ngTemplateOutletContext]="{ $implicit: entry, formGroup: fg }"
		/>
	}
</ng-template>

<ng-template #columnSelectorTemplate let-schema let-fg="formGroup">
	<ng-container [formGroup]="fg">
		@if (schema.type != "table") {
			<label [for]="schema.key + '_mapper_selector'" hlmLabel class="block">{{
					schema.key + ".title" | translate
				}}</label>
			<div class="flex items-center gap-2 group">
				<brn-popover sideOffset="5" class="w-full">
					<input class="hidden" [formControlName]="schema.key"/>
					<button
						hlmBtn
						class="w-full justify-between overflow-ellipsis line-clamp-1 !text-start"
						variant="outline"
						[id]="schema.key + '_mapper_selector'"
						brnPopoverTrigger
						[class.!font-normal]="
							!fg.controls[schema.key].value && !loadedMappings()[schema.key]
						"
						[class.text-[var(--muted-foreground)]]="
							!fg.controls[schema.key].value && !loadedMappings()[schema.key]
						"
					>
						{{
							fg.controls[schema.key].value?.name ||
							$any(loadedMappings()[schema.key])?.dbColumn ||
							"Select column"
						}}
					</button>
					<hlm-command
						*brnPopoverContent="let ctx"
						hlmPopoverContent
						class="w-full p-0"
					>
						<hlm-command-search>
							<ng-icon hlm name="lucideSearch"/>
							<input placeholder="Search Column..." hlm-command-search-input/>
						</hlm-command-search>
						<div class="w-full" *brnCommandEmpty hlmCommandEmpty>
							No results found
						</div>
						<hlm-command-list>
							<hlm-command-group>
								@for (spec of unmappedColumns(); track $index) {
									<button
										class="cursor-pointer flex justify-between items-start overflow-ellipsis line-clamp-1"
										hlm-command-item
										(click)="
											updateMapping(fg.controls[schema.key], schema.key, spec)
										"
										[value]="spec.name"
									>
										<div class="space-y-1">
											<p class="block text-start w-full">{{ spec.name }}</p>
											<span
												class="block text-start text-sm text-[var(--muted-foreground)]"
											>table: {{ spec.tableName }}</span
											>
										</div>
										@if (fg.controls[schema.key].value ===
										$any(loadedMappings()[schema.key])?.dbColumn &&
										fg.controls[schema.key].value !== undefined &&
										fg.controls[schema.key].value !== null) {
											<ng-icon name="lucideCheck"/>
										}
									</button>
								}
							</hlm-command-group>
						</hlm-command-list>
					</hlm-command>
				</brn-popover>

				<button
					(click)="removeMapping(fg.controls[schema.key], schema.key)"
					type="button"
					hlmBtn
					size="icon"
					variant="ghost"
					class="opacity-0 group-hover:opacity-100"
				>
					<ng-icon name="lucideX"/>
				</button>
			</div>
		} @else {
			<ng-container
				[ngTemplateOutlet]="tableFieldTemplate"
				[ngTemplateOutletContext]="{ $implicit: schema, formGroup: fg }"
			/>
		}
	</ng-container>
</ng-template>
