@reference "tailwindcss";

:host {
	@apply grid grid-cols-[220px_1fr] h-full
}

/* .users-list-box {
	@apply overflow-y-auto max-h-full border-r border-(--border)
}

.user-details-box {
	@apply bg-(--secondary) overflow-y-auto;
} */
