<div
	class="min-w-100 grid overflow-hidden grid-rows-[1fr_auto] border-r border-muted"
>
	<div class="relative overflow-auto">
		<div class="px-3 py-2 border-b border-muted backdrop-blur min-h-20">
			@defer(when !formVersions.isLoading()) {
			<div hlmField>
				<label hlmFieldLabel for="fv">Form Version</label>
				<hlm-select
					id="fv"
					[(value)]="formVersion"
					placeholder="Select Form Version"
				>
					<hlm-select-trigger class="w-full">
						<hlm-select-value />
					</hlm-select-trigger>
					<hlm-select-content class="w-full">
						<hlm-select-group>
							<hlm-select-scroll-up />
							@for(version of formVersions.value(); track version.id) {
							<hlm-option [value]="version.id"
								>{{ version.label || (version.createdAt | relativeDate)
								}}</hlm-option
							>
							}
						</hlm-select-group>
					</hlm-select-content>
				</hlm-select>
			</div>
			} @placeholder {
			<div class="space-y-2">
				<hlm-skeleton class="h-6 rounded w-full" />
				<hlm-skeleton class="h-6 rounded w-full" />
			</div>
			}
		</div>
		<ul class="px-3 space-y-2 pt-4">
			@for(submission of submissions.data(); track $index) {
			<li
				class="p-2 hover:bg-muted/60 focus-within:bg-muted/50 focus-within:ring-2 focus-within:ring-primary rounded has-[.active-index]:bg-primary has-[.active-index]:text-primary-foreground"
			>
				<a
					[routerLink]="['..', submission.index]"
					[relativeTo]="pageRoute"
					[queryParams]="{
					session: 'current'
				}"
					routerLinkActive="active-index"
					queryParamsHandling="merge"
					class="focus:outline-none group/index-link"
				>
					<p class="block font-semibold">
						Index = {{submission.index | number:'3.0-0'}}
					</p>
					<p class="block text-muted-foreground group-[:is(.active-index)]/index-link:text-primary-foreground text-sm">
						{{ submission.recordedAt | relativeDate }}
					</p>
				</a>
			</li>
			} @empty {
			<ng-container>
				@if(!submissions.isLoading()) {
				<ng-container [ngTemplateOutlet]="emptySubmissionsListTemplate" />
				} @else {
				<ng-container [ngTemplateOutlet]="loadingTemplate" />
				}
			</ng-container>
			}
		</ul>
	</div>
	<div class="border-muted border-t"></div>
</div>
<div class="relative overflow-auto">
	@let definition = formDefinition.data();
	<ng-container>
		@if(definition) {
		<div class="h-full">
			<cv-form-renderer
				[submitHandler]="handleSubmission.bind(this)"
				[formData]="submissionData()"
				[formItems]="$any(definition)"
			>
				<ng-container slot="header">
					@if(formInfo.data()?.logo; as l) {
					<img [src]="l" alt="logo" width="80" />
					}
					<div class="space-y-2">
						<h1 class="font-extrabold text-2xl">
							{{ formInfo.data()?.title }}
						</h1>
						@if(formInfo.data()?.description; as desc) {
						<p>{{desc}}</p>
						}
					</div>
				</ng-container>
			</cv-form-renderer>
		</div>
		}
	</ng-container>
</div>

<ng-template #loadingTemplate>
	<div class="space-y-3 p-3">
		@for(_ of [1,2,3,4,5]; track $index) {
		<div class="space-y-2">
			<hlm-skeleton class="w-full block h-4 rounded" />
			<hlm-skeleton class="w-3/4 block h-3 rounded" />
		</div>
		}
	</div>
</ng-template>
<ng-template #emptySubmissionsListTemplate>
	<li hlmEmpty>
		<p hlmEmptyTitle>No Submissions</p>
		<p hlmEmptyDescription>No submissions have been recorded yet.</p>
	</li>
</ng-template>
<ng-template #itemFallbackTemplate>
	<div
		hlmAlert
		class="max-w-md border-amber-200 bg-amber-50 text-amber-900 dark:border-amber-900 dark:bg-amber-950 dark:text-amber-50"
	>
		<ng-icon name="lucideAlertTriangle" />
		<h4 hlmAlertTitle>Unsupported Form Item Type</h4>
		<p hlmAlertDescription>
			This is a fallback template for unsupported form item types. This is only
			visible during development.
		</p>
	</div>
</ng-template>
<!-- <hlm-sheet
	side="right"
	[state]="submissionMetaSheetState()"
	(stateChanged)="submissionMetaSheetState.set($event)"
>
	<hlm-sheet-content *hlmSheetPortal="let ctx">
		<hlm-sheet-header>
			<h1 hlmSheetTitle>Submission Information</h1>
		</hlm-sheet-header>
		<form [formRoot]="submissionMetaForm" class="p-3" hlmFieldGroup>
			<div hlmField>
				<label hlmFieldLabel for="validationCode">Validation Code</label>
				<input
					[formField]="submissionMetaForm.validationCode"
					hlmInput
					id="validationCode"
				/>
			</div>
			<div hlmField>
				<label hlmFieldLabel for="commitMessage">Change notes</label>
				<textarea
					id="commitMessage"
					[formField]="submissionMetaForm.changeNotes"
					hlmTextarea
				></textarea>
			</div>
			<button
				[disabled]="submissionMetaForm().invalid() || submissionMetaForm().submitting()"
				type="submit"
				class="flex w-full"
				hlmBtn
			>
				Finish
			</button>
		</form>
	</hlm-sheet-content>
</hlm-sheet> -->
