<div
	class="min-w-100 grid overflow-hidden grid-rows-[1fr_auto]"
	[ngClass]="{
	'border-r border-muted': !isNew()
}"
>
	<div class="relative overflow-auto">
		<div class="px-3 py-2 border-b border-muted backdrop-blur min-h-20">
			@defer(when !formVersions.isLoading()) {
			<div hlmField>
				<label hlmFieldLabel for="fv">Form version</label>
				<hlm-select
					id="fv"
					[(value)]="formVersion"
					placeholder="Select Form Version"
				>
					<hlm-select-trigger class="w-full">
						<hlm-select-value />
					</hlm-select-trigger>
					<hlm-select-content class="w-full">
						<hlm-select-group>
							<hlm-select-scroll-up />
							@for(version of formVersions.data(); track version.id) {
							<hlm-option [value]="version.id"
								>{{ version.label || (version.createdAt | date:'longDate')
								}}</hlm-option
							>
							}
						</hlm-select-group>
					</hlm-select-content>
				</hlm-select>
			</div>
			} @placeholder {
			<div class="space-y-2">
				<hlm-skeleton class="h-6 rounded w-full" />
				<hlm-skeleton class="h-6 rounded w-full" />
			</div>
			}
		</div>
		@for(submission of submissions.data(); track $index) {
		<a [routerLink]="['..', submission.index]" class="p-3 space-y-2">
			<span class="block font-semibold"> Index = {{submission.index}}</span>
			<span class="block text-muted-foreground text-sm"
				>{{ submission.recordedAt | date:'longDate' }}</span
			>
		</a>
		} @empty { @if(!submissions.isLoading()) {
		<ng-container [ngTemplateOutlet]="emptySubmissionsListTemplate" />
		} @else {
		<ng-container [ngTemplateOutlet]="loadingTemplate" />
		} }
	</div>
	<div class="border-muted border-t"></div>
</div>
<div class="relative overflow-auto">
	@let definition = formDefinition.data();
	<ng-container>
		@if(definition) {
		<div class="py-5 px-4">
			<cv-form-renderer
				[formData]="submissionData()"
				[showMissingRendererMessages]="isDevMode()"
				[itemFallbackContent]="itemFallbackTemplate"
				[formItems]="$any(definition)"
			/>
		</div>
		}
	</ng-container>
</div>

<ng-template #loadingTemplate>
	<div class="space-y-3 p-3">
		@for(_ of [1,2,3,4,5]; track $index) {
		<div class="space-y-2">
			<hlm-skeleton class="w-full block h-4 rounded" />
			<hlm-skeleton class="w-3/4 block h-3 rounded" />
		</div>
		}
	</div>
</ng-template>
<ng-template #emptySubmissionsListTemplate>
	<div hlmEmpty>
		<p hlmEmptyTitle>No Submissions</p>
		<p hlmEmptyDescription>No submissions have been recorded yet.</p>
	</div>
</ng-template>
<ng-template #itemFallbackTemplate>
	<div
		hlmAlert
		class="max-w-md border-amber-200 bg-amber-50 text-amber-900 dark:border-amber-900 dark:bg-amber-950 dark:text-amber-50"
	>
		<ng-icon name="lucideAlertTriangle" />
		<h4 hlmAlertTitle>Unsupported Form Item Type</h4>
		<p hlmAlertDescription>
			This is a fallback template for unsupported form item types. This is only
			visible during development.
		</p>
	</div>
</ng-template>
