<section class="page-header">
	<h1 class="page-title">{{ 'settings.general.page_title' | translate}}</h1>
</section>
<section class="page-section">
	<h2 class="section-title">{{ 'settings.theme' | translate }}</h2>
	<cv-theme-selector size="lg" />
</section>
<section class="page-section">
	<h2 class="section-title">{{ 'settings.lang' | translate }}</h2>
	<cv-locale-selector />
</section>
<section class="page-section">
	<h2 class="section-title">{{ 'settings.font-size.title' | translate }}</h2>
	<hlm-select
		class="inline-block"
		[value]="fontSize()"
		scrollable="true"
		(valueChange)="onFontSizeChanged($any($event))"
	>
		<hlm-select-trigger class="w-40">
			<hlm-select-value [placeholder]="'settings.font-size.placeholder' | translate"/>
		</hlm-select-trigger>
		<hlm-select-content
			*hlmSelectPortal
			showScroll

		>
			<hlm-select-group>
				@for(size of fontSizes; track $index) {
				<hlm-select-item [value]="size">{{ size }}</hlm-select-item>
				}
			</hlm-select-group>
		</hlm-select-content>
	</hlm-select>
</section>
