<form [formGroup]="form">
	<div hlmTableContainer>
		<table hlmTable class="caption-top">
			<caption hlmCaption class="py-1 m-0 px-2 sticky top-0 backdrop-blur-md">
				<div class="flex items-center m-0 justify-between">
					<p class="text-lg font-semibold">
						@if (definition().titleI18n) {
							{{ definition().title | translate }}
						} @else {
							{{ definition().title }}
						}
					</p>
					@if (enableCreationActions()) {
						<div class="flex items-center gap-3">
							<button
								type="button"
								[disabled]="
							maxRows() === undefined ? false : $any(maxRows()) <= (form.value.rows?.length ?? 0)
						"
								size="sm"
								variant="outline"
								(click)="addRow()"
								hlmBtn
								[title]="'tmpl.table.actions.add_new.description' | translate"
							>
								<ng-icon name="lucidePlus"/>
								<span>{{ "tmpl.table.actions.add_new.title" | translate }}</span>
							</button>
						</div>
					}
				</div>
			</caption>
			<thead hlmTHead class="sticky top-[29.25px] backdrop-blur-md">
			<tr hlmTr>
				@if (selectionEnabled()) {
					<th hlmTh class="w-8">
						<hlm-checkbox class="cursor-pointer"/>
					</th>
				}
				@for (h of headers(); track $index) {
					<th hlmTh>
						@if (h.headerI18n) {
							{{ h.header | translate }}
						} @else {
							{{ h.header }}
						}
					</th>
				}
			</tr>
			</thead>
			<tbody hlmTBody formArrayName="rows">
				@for (row of form.controls.rows.controls; track $index) {
					<tr hlmTr>
						@if (selectionEnabled()) {
							<td hlmTd class="w-8">
								<hlm-checkbox class="cursor-pointer"/>
							</td>
						}
						@for (col of columns(); track $index) {
							<td hlmTd>
								{{ row.value[col.accessor] }}
							</td>
						}
					</tr>
				} @empty {
					<tr hlmTr>
						<td hlmTd class="text-center" [colSpan]="headers().length + 1">
							{{
								(loadingData() ? "loading.txt" : "tmpl.table.no_data") | translate
							}}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</form>
