@if (enableEditingControls()) {
<ng-container [ngTemplateOutlet]="formTemplate" />
} @else {
<ng-container [ngTemplateOutlet]="previewTemplate" />
}

<ng-template #previewTemplate>
	<ng-container [ngTemplateOutlet]="header" />
</ng-template>
<ng-template #formTemplate>
	<ng-container [ngTemplateOutlet]="header" />
	<form class="h-full block">
		<div class="container mx-auto py-9">
			<div hlmFieldGroup cdkDropListGroup cdkDropList class="space-y-3">
				@for (item of formModel.items; track item) {
				<ng-container>
					@let component = formItemComponents[item.type().value()];
				</ng-container>
				@if(component != null) {
				<ng-container
					[ngComponentOutlet]="component | async"
					[ngComponentOutletInputs]="{
						node: item,
						index: $index
					}"
					[ngComponentOutletInjector]="itemComponentInjector"
				/>
				} }
			</div>
		</div>
	</form>
</ng-template>
<ng-template #fieldItemMetaTemplate let-item let-index="index">
	<ng-container>@let itemTree = asFieldItem(item);</ng-container>

	<ng-container
		>@let template =
		fieldMetaConfigTemplatesMap[itemTree.meta.type().value()];</ng-container
	>
	<ng-container
		>@let metaCtx = {$implicit: itemTree.meta, formItemIndex: index};
	</ng-container>
	@if(template != null) {
	<div hlmFieldGroup>
		<div hlmFieldGroup>
			<div hlmField>
				<label for="{{index}}__field_type" hlmFieldLabel>Question Type</label>
				<hlm-select
					(valueChange)="onFieldTypeChanged(itemTree.meta, $event)"
					id="{{index}}__field_type"
					[formField]="itemTree.meta.type"
				>
					<hlm-select-trigger class="w-full">
						<hlm-select-value>
							<div class="flex items-center gap-2" *hlmSelectValue="let value">
								<ng-icon [name]="$any(fieldItemTypesMap)[value]?.icon" />
								<span>{{ $any(fieldItemTypesMap)[$any(value)]?.label }}</span>
							</div>
						</hlm-select-value>
					</hlm-select-trigger>
					<hlm-select-content class="w-full">
						@for(option of fieldItemTypes; track $index) {
						<hlm-option [value]="option">
							<ng-icon [name]="fieldItemTypesMap[option]?.icon" />
							<span>{{ fieldItemTypesMap[option]?.label }}</span>
						</hlm-option>
						}
					</hlm-select-content>
				</hlm-select>
			</div>
		</div>
		<hlm-field-separator />
		<div hlmFieldGroup>
			<legend hlmFieldLegend>Configuration</legend>
			<ng-container
				[ngTemplateOutlet]="template()"
				[ngTemplateOutletContext]="metaCtx"
			/>
		</div>
		<hlm-field-separator />
		<div hlmFieldGroup>
			<legend hlmFieldLegend>Additional Configuration</legend>
			<ng-container
				[ngTemplateOutlet]="baseFieldMetaConfigTemplate"
				[ngTemplateOutletContext]="metaCtx"
			/>
		</div>
	</div>
	}
</ng-template>
<ng-template #imageItemTemplate let-ctrl let-index="index">
	<ng-container>@let item = asImageItem(ctrl);</ng-container>
	<div class="grid grid-cols-[auto_50%] items-start gap-x-3">
		<cv-form-img
			cvResizable
			[filter]="item.meta.filter().value()"
			(imagePicked)="onImagePickerImagePicked(item, $event)"
			[width]="item.meta.width().value()"
			[formField]="item.url"
			[height]="item.meta.height().value()"
			(resize)="onImagePickerResized(item, $event)"
		/>
	</div>
</ng-template>
<ng-template #errorsTemplate let-ctrl>
	<ng-container> @let control = asGenericControl(ctrl); </ng-container>
	@if (control().pending()) {
	<div class="inline-flex gap-2 items-center text-sm">
		<hlm-spinner />
		<span>Checking...</span>
	</div>
	} @else if (control().invalid() && control().dirty()) {
	<div class="space-y-1">
		@for (error of control().errors(); track error) {
		<hlm-field-error class="block">{{ error.message }}</hlm-field-error>
		}
	</div>
	}
</ng-template>
<ng-template
	#formItemEditorButtons
	let-item="item"
	let-parent="parent"
	let-index="index"
>
	@let designerState = itemDesignerStates()[item.path().value()];
	<button
		(click)="onItemDesignerSettingsButtonClicked(item)"
		hlmToggle
		class="cursor-pointer"
		type="button"
		variant="outline"
		[state]="designerState?.expanded === true ? 'on' : 'off'"
		size="sm"
	>
		<ng-icon name="lucideSettings" />
	</button>
	<button
		hlmToggle
		class="cursor-pointer"
		type="button"
		variant="outline"
		(click)="onItemDesignerPreviewButtonClicked(item)"
		size="sm"
		[state]="designerState?.previewing === true ? 'on' : 'off'"
	>
		<ng-icon name="lucideEye" />
	</button>
	<button hlmBtn class="flex" variant="outline" type="button" size="icon-sm">
		<ng-icon name="lucideCopy" />
	</button>
	<button hlmBtn class="" type="button" variant="outline" size="icon-sm">
		<ng-icon name="lucideFolderPlus" />
	</button>
	<button
		hlmBtn
		class="flex"
		variant="destructive"
		(click)="onRemoveFormItemButtonClicked(parent, index)"
		type="button"
		size="icon-sm"
	>
		<ng-icon name="lucideTrash2" />
	</button>
</ng-template>
<ng-template #fieldItemTemplate let-ctrl let-index="index">
	<ng-container> @let field = asFieldItem(ctrl); </ng-container>
	<div hlmFieldGroup>
		<div hlmFieldGroup>
			<div hlmField>
				<div hlmFieldContent>
					<input
						hlmInput
						placeholder="Question title *"
						[formField]="field.title"
					/>
					<ng-container
						[ngTemplateOutlet]="errorsTemplate"
						[ngTemplateOutletContext]="{$implicit: field.title}"
					/>
				</div>
			</div>
			<div hlmField>
				<input
					placeholder="Hint or description"
					[formField]="field.description"
					hlmInput
				/>
			</div>
		</div>
	</div>
</ng-template>
<ng-template
	#geoPointFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<div hlmField>
		<ng-container>
			@let meta = asGeoPointFieldMeta(asFieldMeta(metaControl));
		</ng-container>
		<cv-geo-point-picker [formField]="meta.defaultValue" />
	</div>
</ng-template>
<ng-template #debugPanel let-field>
	<cv-debug-panel
		class="absolute top-0 right-[calc(100%+5px)] max-h-100 min-w-65"
	>
		<cv-debug-header> Item State</cv-debug-header>
		<div class="px-2 py-1">
			<dl>
				<dt>Validity</dt>
				<dd>{{ field().valid() ? 'Valid' : 'Invalid' }}</dd>
				@if (field().errorSummary().length > 0) {
				<dt>Errors</dt>
				<dd>
					<ul>
						@for (err of field().errorSummary(); track $index) {
						<li>
							{{ err.fieldTree().keyInParent() }}: {{ err.message || err.kind }}
						</li>
						}
					</ul>
				</dd>
				}
				<dt>Value</dt>
				<dd>
					<pre>{{ field().value() | json }}</pre>
				</dd>
			</dl>
		</div>
	</cv-debug-panel>
</ng-template>
<ng-template #dateFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asDateFieldMeta(asFieldMeta(metaControl));
	</ng-container>
	<ng-container>
		@let minId = `${formItemIndex}__date_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${formItemIndex}__date_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${formItemIndex}__date_default_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-[250px_250px] gap-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect
				[id]="minId"
				[formField]="meta.min"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect
				[id]="maxId"
				[formField]="meta.max"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>

		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect="true"
				[id]="defaultId"
				[formField]="meta.defaultValue"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
			/>
		</div>
	</div>
</ng-template>
<ng-template #multiDateFieldMetaConfigTemplate
	let-metaControl
	let-itemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asMultiDateFieldMeta(asFieldMeta(metaControl));
	</ng-container>
	<ng-container>
		@let minId = `${itemIndex}__date_multi_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${itemIndex}__date_multi_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${itemIndex}__date_multi_default_input`;
	</ng-container>
	<ng-container>
		@let minSelectionId = `${itemIndex}__date_multi_min_selection_input`;
	</ng-container>
	<ng-container>
		@let maxSelectionId = `${itemIndex}__date_multi_max_selection_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-[250px_250px] gap-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="minId" [formField]="meta.min" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="maxId" [formField]="meta.max" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="minSelectionId">Minimum Selection</label>
			<div hlmButtonGroup>
				<input
					[id]="minSelectionId"
					hlmInput
					type="number"
					class="max-w-70"
					[formField]="meta.minSelection"
				/>
				@if(meta.minSelection().controlValue() !== null) {
				<button
					(click)="meta.minSelection().setControlValue($any(null))"
					type="button"
					hlmBtn
					variant="outline"
				>
					<ng-icon name="lucideX" />
				</button>
				}
			</div>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.minSelection}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxSelectionId">Maximum Selection</label>
			<div hlmButtonGroup>
				<input
					[id]="maxSelectionId"
					hlmInput
					type="number"
					class="max-w-70"
					[formField]="meta.maxSelection"
				/>
				@if(meta.maxSelection().controlValue() !== null) {
				<button
					(click)="meta.maxSelection().setControlValue($any(null))"
					type="button"
					hlmBtn
					variant="outline"
				>
					<ng-icon name="lucideX" />
				</button>
				}
			</div>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.maxSelection}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<mult-date-picker
				[maxSelection]="meta.maxSelection().value()"
				[minSelection]="meta.minSelection().value()"
				[formField]="$any(meta.defaultValue)"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
			/>
		</div>
	</div>
</ng-template>
<ng-template #rangeDateFieldMetaConfigTemplate
	let-metaControl
	let-itemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asRangeDateFieldMeta(asFieldMeta(metaControl));
	</ng-container>
	<ng-container>
		@let minId = `${itemIndex}__date_range_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${itemIndex}__date_range_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${itemIndex}__date_range_default_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="minId" [formField]="meta.min" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="maxId" [formField]="meta.max" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<date-range-picker clearable [formField]="meta.defaultValue" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
			/>
		</div>
	</div>
</ng-template>
<ng-template #numberFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asNumberFieldMeta(asFieldMeta(metaControl));
	</ng-container>
	<div hlmField>
		@let accuracy = meta.type().value() == 'float' ? .1 : 1;
		<input
			type="number"
			[formField]="meta.min"
			hlmInput
			[step]="accuracy"
			placeholder="Minimum Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.min}"
		/>
	</div>
	<div hlmField>
		<input
			type="number"
			[step]="accuracy"
			[formField]="meta.max"
			hlmInput
			placeholder="Maximum Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.max}"
		/>
	</div>
	<div hlmField>
		<input
			type="number"
			[step]="accuracy"
			[formField]="meta.defaultValue"
			hlmInput
			placeholder="Default Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
		/>
	</div>
</ng-template>
<ng-template #booleanFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container
		>@let meta = asBooleanFieldMeta(asFieldMeta(metaControl));</ng-container
	>
	<div hlmField>
		<label hlmFieldLabel for="{{formItemIndex}}_render_as">Render as</label>
		<hlm-select id="{{formItemIndex}}_render_as" [formField]="meta.renderAs">
			<hlm-select-trigger class="w-full"
				><hlm-select-value
			/></hlm-select-trigger>
			<hlm-select-content class="w-full">
				<hlm-option value="checkbox">Checkbox</hlm-option>
				<hlm-option value="select">Dropdown</hlm-option>
			</hlm-select-content>
		</hlm-select>
	</div>
	@let idExp = `${formItemIndex}__default_value`; @if(meta.renderAs().value() ==
	'checkbox') {
	<div hlmField orientation="horizontal" class="items-center">
		<hlm-checkbox
			class="cursor-pointer"
			[id]="idExp"
			[formField]="meta.defaultValue"
		/>
		<label class="cursor-pointer" hlmFieldLabel [for]="idExp">
			Default Value
		</label>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
		/>
	</div>
	}@else {
	<label class="cursor-pointer" hlmFieldLabel [for]="idExp"
		>Default Value</label
	>
	<hlm-select [formField]="meta.defaultValue" [id]="idExp">
		<hlm-select-trigger class="w-full"><hlm-select-value /></hlm-select-trigger>
		<hlm-select-content class="w-full">
			<hlm-option [value]="true">Yes</hlm-option>
			<hlm-option [value]="false">No</hlm-option>
		</hlm-select-content>
	</hlm-select>
	}
</ng-template>
<ng-template #selectFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asSelectFieldMeta(asFieldMeta(metaControl));
	</ng-container>
	<ng-container>
		@let sourceLinked = !!meta.itemSourceRef().value();
	</ng-container>
	<div hlmField>
		<p hlmFieldTitle>Options</p> 
		<div hlmFieldContent>
			<div class="flex gap-2 flex-wrap">
				<button
					(click)="onAddHardOptionButtonClicked(meta)"
					hlmBtn
					type="button"
					variant="ghost"
					size="sm"
				>
					<ng-icon name="lucidePlus" />
					<span>Add an option</span>
				</button>
				<button
					hlmBtn
					(click)="onLinkOptionSourceButtonClicked(meta)"
					type="button"
					[variant]="sourceLinked ? 'secondary' : 'ghost'"
					size="sm"
				>
					<ng-icon [name]="sourceLinked ? 'lucideLink' : 'lucideUnlink'" />
					<span>
						{{sourceLinked ? 'Unlink option source' : 'Link an option source'}}
					</span>
				</button>
			</div>
			@if(meta.hardItems.length > 0) {
			<div
				class="max-h-75 overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
			>
				<div
					class="space-y-3 p-1"
					cdkDropList
				>
					@for(option of meta.hardItems; track option) {
					<div
						class="grid grid-cols-[auto_1fr] items-center gap-x-3"
						cdkDrag
						cdkDragLockAxis="y"
					>
						<div
							cdkDragHandle
							class="cursor-grab active:cursor-grabbing flex items-center justify-center"
						>
							<ng-icon name="lucideGrip" />
						</div>
						<div *cdkDragPlaceholder matchSize="true"></div>
						<div
							class="grid grid-rows-[auto_auto_auto] lg:grid-rows-none lg:grid-cols-[1fr_1fr_auto] gap-2"
						>
							<div class="space-y-1">
								<input
									hlmInput
									placeholder="Label *"
									[formField]="option.label"
								/>
								<ng-container
									[ngTemplateOutlet]="errorsTemplate"
									[ngTemplateOutletContext]="{$implicit: option.label}"
								/>
							</div>
							<div class="space-y-1">
								<input
									hlmInput
									placeholder="Value {{option.value().required() ? '*':''}}"
									[formField]="option.value"
								/>
								<ng-container
									[ngTemplateOutlet]="errorsTemplate"
									[ngTemplateOutletContext]="{$implicit: option.value}"
								/>
							</div>
							<div class="block lg:flex lg:items-center lg:justify-center">
								<button
									type="button"
									(click)="onRemoveHardOptionButtonClicked(meta, $index)"
									hlmBtn
									size="icon-sm"
									variant="ghost"
								>
									<ng-icon name="lucideX" hlm size="sm" />
								</button>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
			}
		</div>
	</div>
	<div hlmField>
		<label hlmFieldLabel>Default selection</label>
		<ng-container
			[ngTemplateOutlet]="selectTemplate"
			[ngTemplateOutletContext]="{
			$implicit: meta.defaultValue,
			multiple: meta.type().value() === 'multi-select',
			fixedOptions: meta.hardItems().value(),
			ref: meta.itemSourceRef().value(),
		}"
		/>
	</div>
</ng-template>
<ng-template #textFieldMetaConfigTemplate let-metaControl>
	<ng-container
		>@let meta = asTextFieldMeta(asFieldMeta(metaControl));</ng-container
	>
	@if(!meta.minlength().hidden()) {
	<div hlmField>
		<input
			hlmInput
			type="number"
			placeholder="Min length"
			[formField]="meta.minlength"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.minlength}"
		/>
		<p hlmFieldDescription>
			The minimum number of characters allowed for this question's response
		</p>
	</div>
	} @if(!meta.maxlength().hidden()) {
	<div hlmField>
		<input
			hlmInput
			type="number"
			placeholder="Max length"
			[formField]="meta.maxlength"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.maxlength}"
		/>
		<p hlmFieldDescription>
			The maximum number of characters allowed for this question's response
		</p>
	</div>
	} @if(!meta.pattern().hidden()) {
	<div hlmField>
		<input
			(valueChange)="onTextFieldPatternInputValueChanged(metaControl)"
			[formField]="meta.pattern"
			hlmInput
			placeholder="Value pattern"
		/>
		<div class="flex gap-2 items-center">
			<span class="text-sm text-muted-foreground font-medim">Presets: </span>
			<hlm-toggle-group
				(valueChange)="onTextFieldPatternPresetChanged(metaControl, $event)"
				variant="outline"
				type="single"
				size="sm"
			>
				@for(preset of patternPresets; track $index) {
				<button
					type="button"
					hlmToggleGroupItem
					class="cursor-pointer"
					[value]="preset.regex.toString().slice(1,-1)"
				>
					<ng-icon [name]="preset.icon" />
					<span>{{preset.label}}</span>
				</button>
				}
			</hlm-toggle-group>
		</div>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.pattern}"
		/>
		<p hlmFieldDescription>
			A regular expression pattern which response values must match.
			<a
				target="_blank"
				tabindex="-1"
				href="https://en.wikipedia.org/wiki/Regular_expression"
				>Learn more about regular expressions.</a
			>
		</p>
	</div>
	} @if(!meta.defaultValue().hidden()) {
	<div hlmField>
		@if(meta.type().value() === 'text') {
		<input
			[formField]="meta.defaultValue"
			hlmInput
			placeholder="Default value{{meta.defaultValue().required() ? ' *' :''}}"
		/>
		} @else {
		<textarea
			hlmTextarea
			[formField]="meta.defaultValue"
			placeholder="Default value{{meta.defaultValue().required() ? ' *' :''}}"
		></textarea>
		}
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.defaultValue}"
		/>
		<p hlmFieldDescription>A value to be used by default for this field.</p>
	</div>
	}
</ng-template>
<ng-template #baseFieldMetaConfigTemplate let-node let-index="index">
	<ng-container>@let meta = asFieldMeta(node);</ng-container>
	@if(!meta.required().hidden()) {
	<div hlmFieldGroup>
		@let requiredIdentifier = `${index}__required_input`;
		<div hlmField orientation="horizontal">
			<hlm-checkbox [id]="requiredIdentifier" [formField]="meta.required" />
			<label hlmFieldLabel [for]="requiredIdentifier"
				>Make this field required</label
			>
		</div>
		<div hlmFieldContent>
			<p hlmFieldDescription>
				When enabled, the respondent will be required to provide a response for
				this question.
			</p>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.required}"
			/>
		</div>
	</div>
	}
	<div hlmFieldGroup>
		@let readonlyIdentifier = `${index}__readonly_input`;
		<div hlmField orientation="horizontal">
			<hlm-checkbox
				(checkedChange)="onFieldReadonlyStatusChanged(node, $event)"
				[id]="readonlyIdentifier"
				[formField]="meta.readonly"
			/>
			<label hlmFieldLabel [for]="readonlyIdentifier"
				>Make this field readonly</label
			>
		</div>
		<div hlmFieldContent>
			<p hlmFieldDescription>
				When enabled, the respondent will not be allowed to provide a response
				for this question.
			</p>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.readonly}"
			/>
		</div>
	</div>
</ng-template>
<ng-template #noteItemTemplate let-ctrl>
	@let control = asNoteItem(ctrl);
	<div hlmField>
		<textarea
			[ngStyle]="{
			fontSize: `${control.meta.fontSize().value()}px`
		}"
			[formField]="control.title"
			hlmTextarea
			placeholder="Enter note here..."
		></textarea>
	</div>
</ng-template>
<ng-template #relevanceConfigTemplate let-item let-index="index">
	<ng-container>@let control = asFormItem(item);</ng-container>
	@if(control.type().value() != 'separator') {
	<hlm-field-separator />
	}
	<div hlmFieldGroup>
		<legend hlmFieldLegend>Item Relevance</legend>
		<p hlmFieldDescription>
			Configure when this field becomes relevant in the form
		</p>
		<ng-container>
			@let viableDependencies =
			viableRelevanceDependencies()[control.path().value()];
		</ng-container>
		@if(viableDependencies.length > 0) {
		<div hlmFieldGroup>
			<div hlmField orientation="horizontal">
				<hlm-checkbox
					[formField]="control.relevance.enabled"
					id="{{index}}_{{ control.path().value() }}__relevance-toggle"
				/>
				<label
					hlmFieldLabel
					for="{{index}}_{{ control.path().value() }}__relevance-toggle"
					class="cursor-pointer"
					>Enable Relevance</label
				>
			</div>
			<p hlmFieldDescription>
				@if(control.relevance.enabled().value()) {
				<span
					>This item will only be seen if the relevance condition is met.</span
				>} @else {
				<span
					>This item will always be relevant and the relevance condition won't
					be evaluated.</span
				>
				}
			</p>
			<div>
				<button
					(click)="onAddConditionButtonClicked(control)"
					hlmBtn
					variant="outline"
					size="sm"
					type="button"
				>
					<ng-icon name="lucidePlus" />
					<span>Add Condition</span>
				</button>
			</div>
			<div class="space-y-2">
				@for(condition of control.relevance.logic; track condition) {
				<ng-container
					[ngTemplateOutlet]="logicTemplate"
					[ngTemplateOutletContext]="{
						index: $index,
						itemIndex: index,
						item,
						condition
					}"
				/>
				<ng-container>
					@if(!$last) {
					<hlm-separator />
					}
				</ng-container>
				}
			</div>
		</div>
		} @else {
		<div hlmAlert class="inline-block!">
			<h4 hlmAlertTitle>No Dependencies</h4>
			<p hlmAlertDescription>
				There is no available form item to use. Add at least one field item to
				use
			</p>
		</div>
		}
	</div>
</ng-template>
<ng-template
	#logicTemplate
	let-item="item"
	let-itemIndex="itemIndex"
	let-conditionIndex="index"
	let-cd="condition"
>
	<ng-container
		>@let operatorId = `${itemIndex}__operator_select`;</ng-container
	>
	<ng-container>@let condition = asRelevanceCondition(cd);</ng-container>
	<ng-container> @let itemControl = asFormItem(item); </ng-container>
	<div class="grid grid-cols-[auto_1fr] items-end gap-x-2">
		<div class="h-full py-2">
			<div
				hlmButtonGroup
				class="[&>hlm-select>div>hlm-select-trigger>button]:rounded-r-none"
			>
				@if(condition.expressions().value().length > 1) {
				<hlm-select
					id="{{operatorId}}"
					placeholder="Select operator"
					[formField]="condition.operator"
				>
					<hlm-select-trigger class="w-full"
						><hlm-select-value
					/></hlm-select-trigger>
					<hlm-select-content class="w-full">
						<hlm-select-group>
							<hlm-select-label>Operators</hlm-select-label>
							<hlm-option value="or">OR</hlm-option>
							<hlm-option value="and">AND</hlm-option>
						</hlm-select-group>
					</hlm-select-content>
				</hlm-select>
				}
				<button
					[hlmDropdownMenuTrigger]="conditionActionsTemplate"
					type="button"
					hlmBtn
					variant="outline"
				>
					<ng-icon name="lucideEllipsis" />
				</button>
				<ng-template #conditionActionsTemplate>
					<hlm-dropdown-menu>
						<hlm-dropdown-menu-group>
							<button
								(click)="onAddExpressionButtonClicked(itemControl, conditionIndex)"
								class="cursor-pointer"
								type="button"
								hlmDropdownMenuItem
							>
								<ng-icon name="lucidePlus" />
								<span>Add expression</span>
							</button>
							<button
								(click)="onRemoveConditionButtonClicked(itemControl, conditionIndex)"
								class="cursor-pointer"
								type="button"
								hlmDropdownMenuItem
							>
								<ng-icon name="lucideX" />
								<span>Remove condition</span>
							</button>
						</hlm-dropdown-menu-group>
					</hlm-dropdown-menu>
				</ng-template>
			</div>
		</div>
		<div
			class="max-h-100 overflow-y-auto grid gap-2 grid-cols-[1fr_1fr_1fr_auto] p-2"
		>
			@for(expression of condition.expressions; track expression) {
			<ng-container>
				@let viableDependencies =
				viableRelevanceDependencies()[itemControl.path().value()];
				<hlm-select [formField]="expression.field">
					<hlm-select-trigger class="w-full"
						><hlm-select-value
					/></hlm-select-trigger>
					<hlm-select-content class="w-full">
						@for(dep of viableDependencies; track $index) {
						<ng-container>
							@let refFieldControl = fieldItems()[dep];
						</ng-container>
						@if(refFieldControl) {
						<hlm-option [value]="dep"
							>{{ refFieldControl.title().value() }}</hlm-option
						>
						} }
					</hlm-select-content>
				</hlm-select>
				<ng-container>
					@let selectedRefControl = fieldItems()[expression.field().value()];
				</ng-container>
				<hlm-select
					[formField]="expression.operator"
					(valueChange)="onExpressionOperatorChanged(expression, $event)"
				>
					<hlm-select-trigger class="w-full"
						><hlm-select-value
					/></hlm-select-trigger>
					<hlm-select-content>
						@if($any(selectedRefControl)) {
						<ng-container>
							@let operators =
							fieldTypeExpressionOperatorsMap[selectedRefControl.meta.type().value()];
						</ng-container>
						@for(op of operators; track $index) {
						<hlm-option [value]="op">{{ operatorsMap[op].label }}</hlm-option>
						} }
					</hlm-select-content>
				</hlm-select>
				<div>
					<ng-container>
						@let operandCount =
						operatorsMap[expression.operator().value()]?.operandCount ?? 0;
					</ng-container>
					@if($any(selectedRefControl) && operandCount > 0) {
					<ng-container>
						@let template =
						fieldTypeExpressionValueTemplatesMap[selectedRefControl.meta.type().value()];
					</ng-container>
					<ng-container>
						@if(template) {
						<ng-container
							[ngTemplateOutlet]="template()"
							[ngTemplateOutletContext]="{
							$implicit: expression.value,
							refField: selectedRefControl,
							operator: expression.operator().value(),
						}"
						/>
						}
					</ng-container>
					}
				</div>
				<button
					(click)="onRemoveExpressionButtonClicked(conditionIndex, $index, item)"
					hlmBtn
					size="icon-sm"
					variant="ghost"
					type="button"
				>
					<ng-icon hlm size="sm" name="lucideX" />
				</button>
				<!-- </div> -->
			</ng-container>
			}
		</div>
	</div>
</ng-template>
<ng-template #rangeDateExpressionValueTemplate let-control> </ng-template>
<ng-template
	#multiDateExpressionValueTemplate
	let-control
	let-operator="operator"
>
	@switch(operator) { @case('between') {
	<date-range-picker [formField]="control" />
	} @case('in') {
	<mult-date-picker [formField]="control" />
	} @default {
	<cv-date-picker [formField]="control" />
	} }
</ng-template>
<ng-template
	#dateExpressionValueTemplate
	let-control
	let-refField="refField"
	let-operator="operator"
>
	<ng-container>@let ref = asFieldItem(refField);</ng-container>
	<ng-container>@let refMeta = asDateFieldMeta(ref.meta);</ng-container>
	@if(operator == 'between') {
	<div class="flex gap-2 items-center">
		<date-range-picker [formField]="control" />
	</div>
	} @else {
	<cv-date-picker
		[formField]="control"
		autoCloseOnSelect
		[pickTime]="refMeta.type().value() == 'date-time'"
	/>
	}
</ng-template>
<ng-template #selectExpressionValueTemplate let-control let-refField="refField">
	<ng-container> @let ref = asFieldItem(refField); </ng-container>
	<ng-container> @let refMeta = asSelectFieldMeta(ref.meta); </ng-container>
	<ng-container
		[ngTemplateOutlet]="selectTemplate"
		[ngTemplateOutletContext]="{
		$implicit: control,
		placeholder: 'Select values',
		multiple: true,
		fixed: refMeta.hardItems().value(),
		ref: refMeta.itemSourceRef().value(),
	}"
	/>
</ng-template>
<ng-template
	#selectTemplate
	let-control
	let-itemId="id"
	let-placeholder="placeholder"
	let-multiple="multiple"
	let-fixedOptions="fixed"
	let-valueTemplate="valueTemplate"
	let-valueTemplateContext="valueTemplateContext"
	let-clearable="clearable"
	let-ref="ref"
	let-defaultValue="defaultValue"
>
	<ng-container>@let linkedOptions = linkedOptionSources()[ref];</ng-container>
	@if(clearable) {
	<div
		hlmButtonGroup
		class="[&>hlm-select>div>hlm-select-trigger>button]:rounded-r-none"
	>
		<ng-container
			[ngTemplateOutlet]="selectTemplate"
			[ngTemplateOutletContext]="{
				$implicit: control,
				id: itemId,
				placeholder,
				multiple,
				fixed: fixedOptions,
				valueTemplate,
				valueTemplateContext,
				ref
			}"
		/>
		@if(control().value() !== undefined && control().value() !== null ||
		(isArray(control().value()) && control().value().length == 0)) {
		<button
			type="button"
			(click)="control.value.set(defaultValue ?? null)"
			hlmBtn
			variant="outline"
		>
			<ng-icon name="lucideX" hlm size="sm" />
		</button>
		}
	</div>
	} @else {
	<hlm-select
		[id]="itemId"
		[formField]="asGenericControl(control)"
		scrollable="true"
		[multiple]="multiple === true"
		[placeholder]="placeholder"
	>
		<hlm-select-trigger class="w-full">
			@if(valueTemplate) {
			<hlm-select-value>
				<ng-container *brnSelectValue="let value">
					<ng-container
						[ngTemplateOutlet]="valueTemplate"
						[ngTemplateOutletContext]="{value: value}"
					/>
				</ng-container>
			</hlm-select-value>
			} @else {
			<hlm-select-value />
			}
		</hlm-select-trigger>
		<hlm-select-content class="w-full">
			<hlm-select-scroll-up />
			<ng-container>
				@if(linkedOptions && linkedOptions.length > 0) {
				<hlm-select-group>
					<hlm-select-label>Linked options</hlm-select-label>
					@for(item of linkedOptions; track $index) {
					<hlm-option [value]="item.value">{{ item.label }}</hlm-option>
					}
				</hlm-select-group>
				}
			</ng-container>
			<ng-container>
				@if(fixedOptions && fixedOptions.length > 0) {
				<hlm-select-group>
					<hlm-select-label>Fixed options</hlm-select-label>
					@for(item of fixedOptions; track $index) {
					<hlm-option [value]="item.value">{{item.label}}</hlm-option>
					}
				</hlm-select-group>
				}
			</ng-container>
			<hlm-select-scroll-down />
		</hlm-select-content>
	</hlm-select>
	}
</ng-template>
<ng-template #textExpressionValueTemplate let-control let-operator="operator">
	@if(operator == 'match') {
	<div hlmField>
		<div hlmButtonGroup>
			<input [formField]="control" hlmInput placeholder="Regular expression" />
			<button
				[hlmDropdownMenuTrigger]="menu"
				type="button"
				hlmBtn
				variant="outline"
				size="icon"
			>
				<ng-icon name="lucideEllipsis" />
			</button>
			<ng-template #menu>
				<hlm-dropdown-menu>
					<hlm-dropdown-menu-group>
						@for(preset of patternPresets; track $index) {
						<button
							(click)="control().value.set(preset.regex.toString().slice(1,-1))"
							hlmDropdownMenuItem
							class="cursor-pointer"
						>
							<ng-icon [name]="preset.icon" />
							<span>{{ preset.label }}</span>
						</button>
						}
					</hlm-dropdown-menu-group>
				</hlm-dropdown-menu>
			</ng-template>
		</div>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: control}"
		/>
	</div>
	} @else {
	<input hlmInput [formField]="control" placeholder="Value" />
	}
</ng-template>
<ng-template #numberExpressionValueTemplate
	let-control
	let-refField="refField"
	let-operator="operator"
>
	<ng-container>@let ref = asFieldItem(refField);</ng-container>
	<ng-container>@let refMeta = asNumberFieldMeta(ref.meta);</ng-container>
	@switch(operator) { @case('between') {
	<cv-number-range-input
		[formField]="control"
		[step]="refMeta.type().value() == 'float' ? .1 : 1"
	/>
	} @default {
	<input
		hlmInput
		[formField]="control"
		placeholder="Value"
		type="number"
		[step]="refMeta.type().value() == 'float' ? .1 : 1"
	/>
	} }
</ng-template>
<ng-template #separatorItemTemplate>
	<hlm-separator />
</ng-template>
<ng-template #header>
	<div class="sticky top-0 backdrop-blur z-99 border-b border-muted">
		<div class="container mx-auto">
			<div
				class="flex justify-between items-center flex-wrap gap-3 p-2 sticky top-2"
			>
				<div>
					@if (enableEditingControls()) {
					<div hlmButtonGroup>
						<button
							type="button"
							title="Add {{formItemTypesMap[lastAddedItemType()].label}}"
							hlmBtn
							class="capitalize"
							size="sm"
							variant="outline"
							(click)="addFormItem(formModel, lastAddedItemType())"
						>
							<ng-icon [name]="formItemTypesMap[lastAddedItemType()].icon" />
							<span>Add {{ formItemTypesMap[lastAddedItemType()].label }}</span>
						</button>
						<button
							hlmBtn
							[hlmDropdownMenuTrigger]="itemTypesMenuTemplate"
							type="button"
							size="sm"
							variant="outline"
						>
							<ng-icon name="lucideChevronDown" />
						</button>
					</div>
					}
				</div>
				<div hlmButtonGroup>
					<button
						(click)="toggleEditingButtonClicked()"
						hlmBtn
						variant="outline"
						size="sm"
						type="button"
					>
						<ng-icon
							[name]="enableEditingControls() ? 'lucideEye' : 'lucideEdit'"
						/>
						<span> {{ !enableEditingControls() ? 'Edit' : 'Preview' }} </span>
					</button>
				</div>
			</div>
			<div hlmFieldGroup class="px-4 py-2"></div>
		</div>
	</div>
</ng-template>
<ng-template #itemTypesMenuTemplate>
	<hlm-dropdown-menu>
		<hlm-dropdown-menu-label>Item Types</hlm-dropdown-menu-label>
		<hlm-dropdown-menu-group>
			@for (item of formItemTypes; track $index) {
			<button
				(click)="addFormItem(formModel, item.value)"
				type="button"
				class="cursor-pointer"
				hlmDropdownMenuItem
			>
				<ng-icon [name]="item.icon" />
				<span>{{ item.label }}</span>
			</button>
			}
		</hlm-dropdown-menu-group>
	</hlm-dropdown-menu>
</ng-template>
<hlm-dialog
	[state]="optionSourceImportSheetState()"
	(stateChanged)="onOptionSourceImportDialogStateChanged($event)"
>
	<hlm-dialog-content
		*brnDialogContent="let ctx"
		class="min-w-[80vw]! max-h-[80vh] min-h-[50vh] grid-rows-[auto_1fr]!"
	>
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Link option source</h3>
		</hlm-dialog-header>
		<div class="overflow-hidden grid h-full grid-rows-[auto_1fr] gap-y-3">
			<div
				hlmTabs
				[tab]="activeImportTab()"
				class="w-full"
				orientation="horizontal"
			>
				<div hlmTabsList>
					@for (source of importSources; track $index) {
					<a
						[routerLink]="[{outlets: {importer: [`import-${source.value}`]}}]"
						class="cursor-pointer"
						[hlmTabsTrigger]="source.value"
					>
						<ng-icon [name]="source.icon" />
						<span>{{ source.label }}</span>
					</a>
					}
				</div>
			</div>
			<div class="overflow-hidden border border-border">
				<router-outlet
					(deactivate)="importerOutletRouteActivationCallback = undefined"
					(activate)="importerOutletRouteActivationCallback?.($event)"
					name="importer"
				/>
			</div>
		</div>
	</hlm-dialog-content>
</hlm-dialog>
