@if (!renderForm()) {
<ng-container [ngTemplateOutlet]="formTemplate" />
} @else {
<ng-container [ngTemplateOutlet]="previewTemplate" />
}

<ng-template #previewTemplate>
	<ng-container [ngTemplateOutlet]="header" />
</ng-template>
<ng-template #formTemplate>
	<ng-container [ngTemplateOutlet]="header" />
	<form class="h-full block" (submit)="onFormSubmit($event)" novalidate>
		<div class="container mx-auto py-9">
			<div hlmFieldGroup cdkDropListGroup cdkDropList class="space-y-10">
				@for (item of formModel.items; track item) {
				<ng-container>
					@let component = formItemComponents[item.type().value()];
				</ng-container>
				@if(component != null) {
				<ng-container
					[ngComponentOutlet]="component | async"
					[ngComponentOutletInputs]="{
						node: item,
						index: $index
					}"
					[ngComponentOutletInjector]="itemComponentInjector"
				/>
				} }
			</div>
		</div>
	</form>
</ng-template>
<ng-template #header>
	<div class="sticky top-0 backdrop-blur z-99 border-b border-muted">
		<div class="container mx-auto p-2">
			<cv-form-designer-header
				[formState]="formModel()"
				(onSubmit)="onFormSubmit()"
				(onDiscard)="onFormDiscard()"
				(itemAdd)="addFormItem(formModel, $event)"
				[(previewing)]="renderForm"
			/>
		</div>
	</div>
</ng-template>
<hlm-alert-dialog>
	<!-- <hlm-alert-dialog-content *hlmAlertDialogPortal="">

	</hlm-alert-dialog-content> -->
</hlm-alert-dialog>