@if (enableEditingControls()) {
<ng-container [ngTemplateOutlet]="formTemplate" />
} @else {
<ng-container [ngTemplateOutlet]="previewTemplate" />
}

<ng-template #previewTemplate>
	<ng-container [ngTemplateOutlet]="header" />
</ng-template>
<ng-template #formTemplate>
	<ng-container [ngTemplateOutlet]="header" />
	<form class="h-full block">
		<div class="container mx-auto py-9">
			<div hlmFieldGroup cdkDropListGroup cdkDropList class="space-y-3">
				@for (item of formModel.items; track item) {
				<div
					cdkDrag
					cdkDragLockAxis="y"
					[class.border-border]="enableEditingControls()"
					class="z-20 group/form-item focus-within:border-primary border border-border relative p-3 shadow bg-card rounded"
				>
					<div *cdkDragPlaceholder class="drag-placeholder"></div>
					<div>
						<div
							cdkDragHandle
							class="cursor-grab active:cursor-grabbing z-21 group-focus-within/form-item:border-primary capitalize text-xs rounded-t border-t border-x flex items-center gap-2 absolute bottom-full bg-muted py-1 px-2"
						>
							<ng-icon name="lucideGrip" />
							<hlm-separator orientation="vertical" />
							<ng-icon [name]="formItemTypesMap[item.type().value()].icon" />
							<span>{{ formItemTypesMap[item.type().value()].label }}</span>
						</div>
						<div>
							@switch (item.type().value()) { @case ('separator') {
							<hlm-separator />
							} @case ('note') {
							<ng-container
								[ngTemplateOutlet]="noteItemTemplate"
								[ngTemplateOutletContext]="{$implicit: item.title, meta: item.meta}"
							/>
							<ng-container
								[ngTemplateOutlet]="errorsTemplate"
								[ngTemplateOutletContext]="{$implicit: item.title, index: $index}"
							/>
							} @case ('field') {
							<ng-container
								[ngTemplateOutlet]="fieldItemTemplate"
								[ngTemplateOutletContext]="{$implicit: item, index: $index}"
							/>
							} }
						</div>
						<div
							hlmButtonGroup
							orientation="vertical"
							class="absolute left-[100.5%] top-0 opacity-0 group-focus-within/form-item:opacity-100 group-hover/form-item:opacity-100"
						>
							<ng-container
								[ngTemplateOutlet]="formItemEditorButtons"
								[ngTemplateOutletContext]="{
								parent: formModel,
								index: $index
							}"
							/>
						</div>
					</div>
					<div class="flex flex-wrap gap-x-3 gap-y-2"></div>
				</div>
				}
			</div>
		</div>
	</form>
</ng-template>

<ng-template #errorsTemplate let-ctrl>
	<ng-container> @let control = asGenericControl(ctrl); </ng-container>
	@if (control().pending()) {
	<div class="inline-flex gap-2 items-center text-sm">
		<hlm-spinner />
		<span>Checking...</span>
	</div>
	} @else if (control().invalid() && control().dirty()) {
	<div class="space-y-1">
		@for (error of control().errors(); track error) {
		<hlm-field-error class="block">{{ error.message }}</hlm-field-error>
		}
	</div>
	}
</ng-template>

<ng-template #formItemEditorButtons let-parent="parent" let-index="index">
	<button hlmBtn class="flex" variant="outline" type="button" size="icon-sm">
		<ng-icon name="lucideEye" />
	</button>
	<button
		hlmBtn
		class="flex"
		variant="destructive"
		(click)="removeFormItem(parent, index)"
		type="button"
		size="icon-sm"
	>
		<ng-icon name="lucideTrash2" />
	</button>
</ng-template>

<ng-template #fieldItemTemplate let-ctrl let-index="index">
	<ng-container> @let item = asFormItem(ctrl); </ng-container>
	<ng-container>
		@let meta = asFieldMeta(item.meta).additionalData;
	</ng-container>
	<ng-container>
		@let metaCtx = {$implicit: item.meta, formItemIndex: index};
	</ng-container>
	<div hlmFieldGroup>
		<div hlmFieldGroup>
			<div hlmField>
				<div hlmFieldContent>
					<input
						hlmInput
						placeholder="Question title *"
						[formField]="item.title"
					/>
					<ng-container
						[ngTemplateOutlet]="errorsTemplate"
						[ngTemplateOutletContext]="{$implicit: item.title}"
					/>
				</div>
			</div>
			<div hlmField>
				<div hlmFieldContent>
					<textarea
						hlmTextarea
						placeholder="Description"
						[formField]="item.description"
					></textarea>
					<ng-container
						[ngTemplateOutlet]="errorsTemplate"
						[ngTemplateOutletContext]="{$implicit: item.description}"
					/>
				</div>
			</div>
			<div hlmField>
				<div hlmFieldContent>
					<brn-select
						placeholder="Value type *"
						(valueChange)="onFieldTypeChanged(asFieldMeta(item.meta), $event)"
						[formField]="meta.type"
						class="w-full"
					>
						<hlm-select-trigger class="w-full">
							<hlm-select-value class="capitalize" />
						</hlm-select-trigger>
						<hlm-select-content class="w-full">
							@for (option of fieldItemTypes; track $index) {
							<hlm-option [value]="option" class="capitalize">
								{{ option }}
							</hlm-option>
							}
						</hlm-select-content>
					</brn-select>
				</div>
			</div>
		</div>
		<hlm-field-separator />
		<cv-debug-panel
			class="absolute top-0 right-[calc(100%+5px)] max-h-full min-w-65"
		>
			<cv-debug-header> Item State</cv-debug-header>
			<div class="px-2 py-1">
				<dl>
					<dt>Validity</dt>
					<dd>{{ item().valid() ? 'Valid' : 'Invalid' }}</dd>
					@if (item().errorSummary().length > 0) {
					<dt>Errors</dt>
					<dd>
						<ul>
							@for (err of item().errorSummary(); track $index) {
							<li>
								{{ err.fieldTree().keyInParent() }}: {{ err.message || err.kind
								}}
							</li>
							}
						</ul>
					</dd>
					}
					<dt>Value</dt>
					<dd>
						<pre>{{ item().value() | json }}</pre>
					</dd>
				</dl>
			</div>
		</cv-debug-panel>
		<ng-template #configTitleTemplate>
			<legend hlmFieldLegend>Field Configuration</legend>
		</ng-template>
		<div hlmFieldGroup>
			<div hlmFieldGroup>
				<ng-container>
					@let template = metaConfigTemplatesMap[meta.type().value()];
				</ng-container>
				@if(template) {
				<ng-container [ngTemplateOutlet]="configTitleTemplate" />
				<ng-container
					[ngTemplateOutletContext]="metaCtx"
					[ngTemplateOutlet]="template()"
				/>
				}
			</div>
			<div hlmFieldGroup>
				<legend hlmFieldLegend class="">Additional Configuration</legend>
				<ng-container
					[ngTemplateOutlet]="baseFieldMetaConfigTemplate"
					[ngTemplateOutletContext]="metaCtx"
				/>
			</div>
		</div>
	</div>
</ng-template>

<ng-template
	#geoPointFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<div hlmField>
		<ng-container>
			@let meta = asGeoPointFieldMeta(asFieldMeta(metaControl).additionalData);
		</ng-container>
		<cv-geo-point-picker [formField]="meta.default" />
	</div>
</ng-template>
<ng-template
	#dateFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asDateFieldMeta(asFieldMeta(metaControl).additionalData);
	</ng-container>
	<ng-container>
		@let minId = `${formItemIndex}__date_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${formItemIndex}__date_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${formItemIndex}__date_default_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-[250px_250px] gap-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect
				[id]="minId"
				[formField]="meta.min"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect
				[id]="maxId"
				[formField]="meta.max"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>

		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<cv-date-picker
				[pickTime]="meta.type().value() == 'date-time'"
				autoCloseOnSelect="true"
				[id]="defaultId"
				[formField]="meta.default"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.default}"
			/>
		</div>
	</div>
</ng-template>
<ng-template
	#multiDateFieldMetaConfigTemplate
	let-metaControl
	let-itemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asMultiDateFieldMeta(asFieldMeta(metaControl).additionalData);
	</ng-container>
	<ng-container>
		@let minId = `${itemIndex}__date_multi_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${itemIndex}__date_multi_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${itemIndex}__date_multi_default_input`;
	</ng-container>
	<ng-container>
		@let minSelectionId = `${itemIndex}__date_multi_min_selection_input`;
	</ng-container>
	<ng-container>
		@let maxSelectionId = `${itemIndex}__date_multi_max_selection_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-[250px_250px] gap-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="minId" [formField]="meta.min" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="maxId" [formField]="meta.max" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="minSelectionId">Minimum Selection</label>
			<div hlmButtonGroup>
				<input
					[id]="minSelectionId"
					hlmInput
					type="number"
					class="max-w-70"
					[formField]="meta.minSelection"
				/>
				@if(meta.minSelection().controlValue() !== null) {
				<button
					(click)="meta.minSelection().setControlValue($any(null))"
					type="button"
					hlmBtn
					variant="outline"
				>
					<ng-icon name="lucideX" />
				</button>
				}
			</div>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.minSelection}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxSelectionId">Maximum Selection</label>
			<div hlmButtonGroup>
				<input
					[id]="maxSelectionId"
					hlmInput
					type="number"
					class="max-w-70"
					[formField]="meta.maxSelection"
				/>
				@if(meta.maxSelection().controlValue() !== null) {
				<button
					(click)="meta.maxSelection().setControlValue($any(null))"
					type="button"
					hlmBtn
					variant="outline"
				>
					<ng-icon name="lucideX" />
				</button>
				}
			</div>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.maxSelection}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<mult-date-picker
				[maxSelection]="meta.maxSelection().value()"
				[minSelection]="meta.minSelection().value()"
				[formField]="$any(meta.default)"
			/>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.default}"
			/>
		</div>
	</div>
</ng-template>
<ng-template
	#rangeDateFieldMetaConfigTemplate
	let-metaControl
	let-itemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asRangeDateFieldMeta(asFieldMeta(metaControl).additionalData);
	</ng-container>
	<ng-container>
		@let minId = `${itemIndex}__date_range_min_input`;
	</ng-container>
	<ng-container>
		@let maxId = `${itemIndex}__date_range_max_input`;
	</ng-container>
	<ng-container>
		@let defaultId = `${itemIndex}__date_range_default_input`;
	</ng-container>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
		<div hlmField>
			<label hlmFieldLabel [for]="minId">Minimum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="minId" [formField]="meta.min" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.min}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="maxId">Maxiumum Date</label>
			<cv-date-picker autoCloseOnSelect [id]="maxId" [formField]="meta.max" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.max}"
			/>
		</div>
		<div hlmField>
			<label hlmFieldLabel [for]="defaultId">Default Value</label>
			<date-range-picker clearable [formField]="meta.default" />
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.default}"
			/>
		</div>
	</div>
</ng-template>

<ng-template
	#numberFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asNumberFieldMeta(asFieldMeta(metaControl).additionalData);
	</ng-container>
	<div hlmField>
		@let accuracy = meta.type().value() == 'float' ? .1 : 1;
		<input
			type="number"
			[formField]="meta.min"
			hlmInput
			[step]="accuracy"
			placeholder="Minimum Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.min}"
		/>
	</div>
	<div hlmField>
		<input
			type="number"
			[step]="accuracy"
			[formField]="meta.max"
			hlmInput
			placeholder="Maximum Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.max}"
		/>
	</div>
	<div hlmField>
		<input
			type="number"
			[step]="accuracy"
			[formField]="meta.default"
			hlmInput
			placeholder="Default Value"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.default}"
		/>
	</div>
</ng-template>

<ng-template
	#booleanFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container
		>@let meta =
		asBooleanFieldMeta(asFieldMeta(metaControl).additionalData);</ng-container
	>
	<div hlmField orientation="horizontal" class="items-center">
		@let idExp = `${formItemIndex}__default_checkbox`;
		<hlm-checkbox
			class="cursor-pointer"
			[id]="idExp"
			[formField]="meta.default"
		/>
		<label class="cursor-pointer" hlmFieldLabel [for]="idExp">
			Default Value
		</label>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.default}"
		/>
	</div>
</ng-template>

<ng-template
	#selectFieldMetaConfigTemplate
	let-metaControl
	let-formItemIndex="formItemIndex"
>
	<ng-container>
		@let meta = asSelectFieldMeta(asFieldMeta(metaControl).additionalData);
	</ng-container>
	<ng-container>
		@let sourceLinked = !!meta.optionSourceRef().value();
	</ng-container>
	<div hlmField>
		<p hlmFieldTitle>Options</p>
		<div hlmFieldContent>
			<div class="flex gap-2 flex-wrap">
				<button
					(click)="onAddHardOptionButtonClicked(meta)"
					hlmBtn
					type="button"
					variant="ghost"
					size="sm"
				>
					<ng-icon name="lucidePlus" />
					<span>Add an option</span>
				</button>
				<button
					hlmBtn
					(click)="onLinkOptionSourceButtonClicked(meta)"
					type="button"
					[variant]="sourceLinked ? 'secondary' : 'ghost'"
					size="sm"
				>
					<ng-icon [name]="sourceLinked ? 'lucideLink' : 'lucideUnlink'" />
					<span>
						{{sourceLinked ? 'Unlink option source' : 'Link an option source'}}
					</span>
				</button>
			</div>
			@if(meta.hardOptions.length > 0) {
			<div
				class="max-h-75 overflow-y-auto scrollbar-thin scrollbar-thumb-primary/50 scrollbar-track-transparent"
			>
				<div
					class="space-y-3 p-1"
					cdkDropList
					(cdkDropListDropped)="onHardOptionsReordered($event, meta)"
				>
					@for(option of meta.hardOptions; track option) {
					<div
						class="grid grid-cols-[auto_1fr] items-center gap-x-3"
						cdkDrag
						cdkDragLockAxis="y"
					>
						<div
							cdkDragHandle
							class="cursor-grab active:cursor-grabbing flex items-center justify-center"
						>
							<ng-icon name="lucideGrip" />
						</div>
						<div *cdkDragPlaceholder matchSize="true"></div>
						<div
							class="grid grid-rows-[auto_auto_auto] lg:grid-rows-none lg:grid-cols-[1fr_1fr_auto] gap-2"
						>
							<div class="space-y-1">
								<input
									hlmInput
									placeholder="Label *"
									[formField]="option.label"
								/>
								<ng-container
									[ngTemplateOutlet]="errorsTemplate"
									[ngTemplateOutletContext]="{$implicit: option.label}"
								/>
							</div>
							<div class="space-y-1">
								<input
									hlmInput
									placeholder="Value *"
									[formField]="option.value"
								/>
								<ng-container
									[ngTemplateOutlet]="errorsTemplate"
									[ngTemplateOutletContext]="{$implicit: option.value}"
								/>
							</div>
							<div class="block lg:flex lg:items-center lg:justify-center">
								<button
									type="button"
									(click)="onRemoveHardOptionButtonClicked(meta, $index)"
									hlmBtn
									size="icon-sm"
									variant="destructive"
								>
									<ng-icon name="lucideTrash2" />
								</button>
							</div>
						</div>
					</div>
					}
				</div>
			</div>
			}
		</div>
	</div>
	<div hlmField>
		<hlm-select
			[formField]="meta.default"
			scrollable="true"
			[multiple]="meta.type().value() === 'multi-select'"
			placeholder="Default selection"
		>
			<hlm-select-trigger class="w-full">
				<hlm-select-value />
			</hlm-select-trigger>
			<hlm-select-content class="w-full">
				<hlm-select-scroll-up />
				<ng-container
					>@let fixedOptions = meta.hardOptions().value();</ng-container
				>
				<ng-container
					>@let linkedOptions =
					linkedOptionSources()[meta.optionSourceRef().value()];</ng-container
				>
				<ng-container>
					@if((linkedOptions?.length ?? 0) > 0) {
					<ng-container>
						@if(linkedOptions) {
						<hlm-select-group>
							<hlm-select-label>Linked options</hlm-select-label>
							@for(item of linkedOptions; track item) {
							<hlm-option [value]="item.value">{{ item.label }}</hlm-option>
							}
						</hlm-select-group>
						}
					</ng-container>
					}
				</ng-container>
				<ng-container>
					@if(fixedOptions.length > 0) {
					<ng-container>
						<hlm-select-group>
							<hlm-select-label>Fixed options</hlm-select-label>
							@for(option of fixedOptions; track option) {
							<hlm-option [value]="option.value">{{ option.label }}</hlm-option>
							}
						</hlm-select-group>
					</ng-container>
					}
				</ng-container>
				<hlm-select-scroll-down />
			</hlm-select-content>
		</hlm-select>
	</div>
</ng-template>

<ng-template #textFieldMetaConfigTemplate let-metaControl>
	<ng-container
		>@let meta =
		asTextFieldMeta(asFieldMeta(metaControl).additionalData);</ng-container
	>
	@if(!meta.minlength().hidden()) {
	<div hlmField>
		<input
			hlmInput
			type="number"
			placeholder="Min length"
			[formField]="meta.minlength"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.minlength}"
		/>
		<p hlmFieldDescription>
			The minimum number of characters allowed for this question's response
		</p>
	</div>
	} @if(!meta.maxlength().hidden()) {
	<div hlmField>
		<input
			hlmInput
			type="number"
			placeholder="Max length"
			[formField]="meta.maxlength"
		/>
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.maxlength}"
		/>
		<p hlmFieldDescription>
			The maximum number of characters allowed for this question's response
		</p>
	</div>
	} @if(!meta.pattern().hidden()) {
	<div hlmField>
		<input [formField]="meta.pattern" hlmInput placeholder="Value pattern" />
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.pattern}"
		/>
		<p hlmFieldDescription>
			A regular expression pattern which response values must match.
			<a
				target="_blank"
				tabindex="-1"
				href="https://en.wikipedia.org/wiki/Regular_expression"
				>Learn more about regular expressions.</a
			>
		</p>
	</div>
	} @if(!meta.default().hidden()) {
	<div hlmField>
		@if(meta.type().value() === 'text') {
		<input
			[formField]="meta.default"
			hlmInput
			placeholder="Default value{{meta.default().required() ? ' *' :''}}"
		/>
		} @else {
		<textarea
			hlmTextarea
			[formField]="meta.default"
			placeholder="Default value{{meta.default().required() ? ' *' :''}}"
		></textarea>
		}
		<ng-container
			[ngTemplateOutlet]="errorsTemplate"
			[ngTemplateOutletContext]="{$implicit: meta.default}"
		/>
		<p hlmFieldDescription>A value to be used by default for this field.</p>
	</div>
	}
</ng-template>

<ng-template #baseFieldMetaConfigTemplate let-node let-index="index">
	<ng-container>@let meta = asFieldMeta(node).additionalData;</ng-container>
	@if(!meta.required().hidden()) {
	<div hlmFieldGroup>
		@let requiredIdentifier = `${index}__required_input`;
		<div hlmField orientation="horizontal">
			<hlm-checkbox [id]="requiredIdentifier" [formField]="meta.required" />
			<label hlmFieldLabel [for]="requiredIdentifier"
				>Make this field required</label
			>
		</div>
		<div hlmFieldContent>
			<p hlmFieldDescription>
				When enabled, the respondent will be required to provide a response for
				this question.
			</p>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.required}"
			/>
		</div>
	</div>
	}
	<div hlmFieldGroup>
		@let readonlyIdentifier = `${index}__readonly_input`;
		<div hlmField orientation="horizontal">
			<hlm-checkbox
				(checkedChange)="onFieldReadonlyStatusChanged(node, $event)"
				[id]="readonlyIdentifier"
				[formField]="meta.readonly"
			/>
			<label hlmFieldLabel [for]="readonlyIdentifier"
				>Make this field readonly</label
			>
		</div>
		<div hlmFieldContent>
			<p hlmFieldDescription>
				When enabled, the respondent will not be allowed to provide a response
				for this question.
			</p>
			<ng-container
				[ngTemplateOutlet]="errorsTemplate"
				[ngTemplateOutletContext]="{$implicit: meta.readonly}"
			/>
		</div>
	</div>
</ng-template>

<ng-template #noteItemTemplate let-control let-meta="meta">
	@let noteMeta = asNoteMeta(meta);
	<div hlmField>
		<textarea
			[ngStyle]="{
			fontSize: `${noteMeta.additionalData.fontSize().value()}px`
		}"
			[formField]="control"
			hlmTextarea
			placeholder="Enter note here..."
		></textarea>
	</div>
</ng-template>

<ng-template #header>
	<div class="sticky top-0 backdrop-blur z-99 border-b border-muted">
		<div class="container mx-auto">
			<div
				class="flex justify-between items-center flex-wrap gap-3 p-2 sticky top-2"
			>
				<div>
					@if (enableEditingControls()) {
					<div hlmButtonGroup>
						<button
							type="button"
							title="Add {{formItemTypesMap[lastAddedItemType()].label}}"
							hlmBtn
							class="capitalize"
							size="sm"
							variant="outline"
							(click)="addFormItem(formModel, lastAddedItemType())"
						>
							<ng-icon [name]="formItemTypesMap[lastAddedItemType()].icon" />
							<span>Add {{ formItemTypesMap[lastAddedItemType()].label }}</span>
						</button>
						<button
							hlmBtn
							[hlmDropdownMenuTrigger]="itemTypesMenuTemplate"
							type="button"
							size="sm"
							variant="outline"
						>
							<ng-icon name="lucideChevronDown" />
						</button>
					</div>
					}
				</div>
				<div hlmButtonGroup>
					<button
						(click)="toggleEditingButtonClicked()"
						hlmBtn
						variant="outline"
						size="sm"
						type="button"
					>
						<ng-icon
							[name]="enableEditingControls() ? 'lucideEye' : 'lucideEdit'"
						/>
						<span> {{ !enableEditingControls() ? 'Edit' : 'Preview' }} </span>
					</button>
				</div>
			</div>
			<div hlmFieldGroup class="px-4 py-2"></div>
		</div>
	</div>
</ng-template>

<ng-template #itemTypesMenuTemplate>
	<hlm-dropdown-menu>
		<hlm-dropdown-menu-label>Item Types</hlm-dropdown-menu-label>
		<hlm-dropdown-menu-group>
			@for (item of formItemTypes; track $index) {
			<button
				(click)="addFormItem(formModel, item.value)"
				type="button"
				class="cursor-pointer"
				hlmDropdownMenuItem
			>
				<ng-icon [name]="item.icon" />
				<span>{{ item.label }}</span>
			</button>
			}
		</hlm-dropdown-menu-group>
	</hlm-dropdown-menu>
</ng-template>

<hlm-dialog
	[state]="optionSourceImportSheetState()"
	(stateChanged)="onOptionSourceImportDialogStateChanged($event)"
>
	<hlm-dialog-content
		*brnDialogContent="let ctx"
		class="min-w-[80vw]! max-h-[80vh] min-h-[50vh] grid-rows-[auto_1fr]!"
	>
		<hlm-dialog-header>
			<h3 hlmDialogTitle>Link option source</h3>
		</hlm-dialog-header>
		<div class="overflow-hidden grid h-full grid-rows-[auto_1fr] gap-y-3">
			<div
				hlmTabs
				[tab]="activeImportTab()"
				class="w-full"
				orientation="horizontal"
			>
				<div hlmTabsList>
					@for (source of importSources; track $index) {
					<a
						[routerLink]="[{outlets: {importer: [`import-${source.value}`]}}]"
						class="cursor-pointer"
						[hlmTabsTrigger]="source.value"
					>
						<ng-icon [name]="source.icon" />
						<span>{{ source.label }}</span>
					</a>
					}
				</div>
			</div>
			<div class="overflow-hidden border border-border">
				<router-outlet
					(deactivate)="importerOutletRouteActivationCallback = undefined"
					(activate)="importerOutletRouteActivationCallback?.($event)"
					name="importer"
				/>
			</div>
		</div>
	</hlm-dialog-content>
</hlm-dialog>
