@reference "tailwindcss";

:host {
	@apply block relative w-full h-full overflow-y-auto;
	&.editing {
		background-color: var(--background);
		opacity: 0.8;
		background-image:
			linear-gradient(
				color-mix(in srgb, var(--muted) 70%, transparent) 1px,
				transparent 1px
			),
			linear-gradient(
				to right,
				color-mix(in srgb, var(--muted) 70%, transparent) 1px,
				var(--background) 1px
			);
		background-size: 20px 20px;
	}
}

textarea {
	@apply resize-none field-sizing-content min-h-[3lh];
}

dl {
	dt {
		@apply font-medium text-xs text-(--muted-foreground);
		& + dd:not(:only-child):not(:last-child) {
			@apply border-b border-(--muted);
		}
	}
	dd {
		@apply text-sm;
	}
}
