@reference "tailwindcss";

:host {
	@apply flex items-center justify-center flex-col overflow-hidden gap-3 aspect-square rounded-md bg-(--secondary)/40 border border-(--input) relative;
	&.file-hovering {
		@apply border-(--primary)/40 border-dashed border-2
	}
}
