@reference "tailwindcss";

:host {
	--header-height: 2.826923076923077rem;
	@apply grid grid-rows-[auto_1fr_20vh_auto] grid-cols-[minmax(auto,240px)_1fr] overflow-hidden h-full;
}

.form-section {
	& > a {
		@apply grid grid-cols-[1fr_auto] items-center gap-x-2 text-(--muted-foreground) max-w-full text-sm hover:text-inherit transition-colors;
		& > p {
			@apply block line-clamp-1 w-full text-ellipsis text-nowrap;
		}
		&.active {
			@apply text-(--primary) font-bold;
		}
	}
}
