<hlm-select
	[(value)]="selectedLocale"
	(valueChange)="setLocale($any($event))"
	class="inline-block"
>
	<hlm-select-trigger>
		<hlm-select-placeholder>{{
			"tmpl.dropdown.placeholder" | translate
		}}</hlm-select-placeholder>
		<ng-template hlmSelectValueTemplate let-value>
			<div class="flex items-center gap-2">
				<ng-icon [name]="value.substring(0, 2)" />
				@if (_size() == "default") {
					<span>{{
						"settings.language." + (value == "en-CM" ? "en" : "fr") | translate
					}}</span>
				} @else {
					<span>{{
						"settings.language." + (value == "en-CM" ? "en" : "fr")
							| translate
							| slice: 0 : 2
					}}</span>
				}
			</div>
		</ng-template>
	</hlm-select-trigger>
	<hlm-select-content *hlmSelectPortal class="w-56">
		<hlm-select-group>
			<hlm-select-item value="en-CM" class="flex items-center gap-2">
				<ng-icon name="en" />
				<span>{{ "settings.language.en" | translate }}</span>
			</hlm-select-item>
			<hlm-select-item value="fr-CM" class="flex items-center gap-2">
				<ng-icon name="fr" />
				<span>{{ "settings.language.fr" | translate }}</span>
			</hlm-select-item>
		</hlm-select-group>
	</hlm-select-content>
</hlm-select>
