<brn-select
	[(value)]="selectedLocale"
	(valueChange)="setLocale($any($event))"
	class="inline-block"
	[placeholder]="'tmpl.dropdown.placeholder' | translate"
>
	<hlm-select-trigger>
		<hlm-select-value>
			<div class="flex items-center gap-2" *brnSelectValue="let value">
				<ng-icon [name]="value.substring(0, 2)" />
				@if (_size() == "default") {
					<span>{{
						"settings.language." + (value == "en-CM" ? "en" : "fr") | translate
					}}</span>
				} @else {
					<span>{{
						"settings.language." + (value == "en-CM" ? "en" : "fr")
							| translate
							| slice: 0 : 2
					}}</span>
				}
			</div>
		</hlm-select-value>
	</hlm-select-trigger>
	<hlm-select-content class="w-56">
		<hlm-option value="en-CM" class="flex items-center gap-2">
			<ng-icon name="en" />
			<span>{{ "settings.language.en" | translate }}</span>
		</hlm-option>
		<hlm-option value="fr-CM" class="flex items-center gap-2">
			<ng-icon name="fr" />
			<span>{{ "settings.language.fr" | translate }}</span>
		</hlm-option>
	</hlm-select-content>
</brn-select>
