<form #form="ngForm" hlmCard (ngSubmit)="onFormSubmit(form,$event)">
	<div hlmCardHeader>
		<h3 hlmCardTitle>{{'login.welcome_back' | translate}}</h3>
		<p hlmCardDescription>
			{{ 'login.lets_continue_your_journey' | translate }}
		</p>
	</div>
	<div hlmCardContent hlmFieldGroup>
		@if(failureMessage() && !loggingIn()) {
		<div hlmAlert variant="destructive">
			<ng-icon name="lucideAlertTriangle" hlmAlertIcon />
			<p hlmAlertTitle>{{ 'login.errors.title' | translate }}</p>
			<p hlmAlertDescription class="line-clamp-4 text-ellipsis">
				{{failureMessage()}}
			</p>
		</div>
		<hlm-field-separator />
		}
		<div hlmField>
			<label hlmFieldLabel for="username">
				{{'login.username' | translate}}
			</label>
			<input
				[(ngModel)]="loginModel.email"
				required
				hlmInput
				autocomplete="username"
				name="username"
				id="username"
				#username="ngModel"
			/>
			@if(username.dirty && username.invalid) {
			<hlm-field-error>
				@if(username.hasError('required')) { {{'validation.msg.field_required' |
				translate}} } @else if (username.hasError('email')) {
				{{'validation.msg.invalid_email' | translate}} }
			</hlm-field-error>
			}
		</div>
		<div hlmField>
			<label hlmFieldLabel for="password">
				{{'login.password' | translate}}
			</label>
			<input
				[(ngModel)]="loginModel.password"
				type="password"
				autocomplete="current-password"
				required
				hlmInput
				name="password"
				id="password"
				#password="ngModel"
			/>
			@if(password.dirty && password.invalid) {
			<hlm-field-error>
				@if(password.hasError('required')) { {{'validation.msg.field_required' |
				translate}} } @else if (password.hasError('email')) {
				{{'validation.msg.invalid_email' | translate}} }
			</hlm-field-error>
			}
		</div>
	</div>

	<div hlmCardFooter class="flex-col gap-2">
		<button
			[disabled]="form.invalid || loggingIn()"
			hlmBtn
			type="submit"
			class="w-full"
		>
			{{ 'login.sign_in' | translate }}
		</button>
	</div>
</form>
