@let fieldKey = ($any(schema().key) | isString) ? schema().key : $any(schema().key).value;
@switch (schema().type) {
	@case ("text") {
		<ng-container [ngTemplateOutlet]="textFieldTemplate"/>
	}
	@case ("boolean") {
		<ng-container [ngTemplateOutlet]="booleanFieldTemplate"/>
	}
	@case ("date") {
		<ng-container [ngTemplateOutlet]="datePickerTemplate"/>
	}
	@case ("single-selection") {
		<ng-container
			[ngTemplateOutlet]="selectTemplate"
			[ngTemplateOutletContext]="{ multiple: false }"
		/>
	}
	@case ("multi-selection") {
		<ng-container
			[ngTemplateOutlet]="selectTemplate"
			[ngTemplateOutletContext]="{ multiple: true }"
		/>
	}
	@case ("float") {
		<ng-container [ngTemplateOutlet]="numberTemplate"/>
	}
	@case ("int") {
		<ng-container [ngTemplateOutlet]="numberTemplate"/>
	}
	@case ("point") {
		<ng-container [ngTemplateOutlet]="geoPointTemplate"/>
	}
}

<ng-template #geoPointTemplate>
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	<cv-geo-point
		[value]="_value()"
		(touched)="onControlTouched()"
		(valueChange)="onInput($event)"
		[disabled]="_disabled()"
	/>
</ng-template>

<ng-template #numberTemplate>
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	<input
		[id]="fieldKey"
		type="number"
		[min]="$any(schema()).min"
		[max]="$any(schema()).max"
		[class]="userClass()"
		(blur)="onControlTouched()"
		[value]="_value()"
		(input)="onInput($any($event.target!).valueAsNumber)"
		[disabled]="_disabled()"
		[readOnly]="isReadonly()"
		hlmInput
		[placeholder]="fieldKey + '.description' | translate"
	/>
</ng-template>

<ng-template #selectTemplate let-multi="multiple">
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	@let hasParent = $any(schema()).parent != null && parentValue() != null;
	<brn-select
		[id]="fieldKey"
		[class]="userClass()"
		[value]="_value()"
		(valueChange)="onInput($event)"
		[placeholder]="'tmpl.dropdown.placeholder' | translate"
		[multiple]="multi"
	>
		<hlm-select-trigger class="w-full">
			<hlm-select-value/>
		</hlm-select-trigger>
		<hlm-select-content>
			@let groupKey = $any(schema()).optionsGroupKey;
			@for (option of options()?.[groupKey] ?? []; track $index) {
				@if (!hasParent || (hasParent && option.parent == parentValue())) {
					<hlm-option [value]="option.value">
						@if (option.i18nKey) {
							<ng-container>
								{{ option.i18nKey | translate }}
							</ng-container>
						} @else {
							{{ option.label || option.value }}
						}
					</hlm-option>
				}
			}
		</hlm-select-content>
	</brn-select>
</ng-template>

<ng-template #datePickerTemplate>
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	@if (isReadonly()) {
		<span>
			{{ _value() | date: "mediumDate" : "" : locale() }}
		</span>
	} @else {
		<hlm-date-picker
			[buttonId]="fieldKey"
			[date]="_value()"
			class="w-full {{ userClass() }}"
			(dateChange)="onInput($event)"
			[min]="$any(schema()).min"
			[max]="$any(schema()).max"
			[disabled]="_disabled()"
		/>
	}
</ng-template>

<ng-template #booleanFieldTemplate>
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	<hlm-checkbox
		[id]="fieldKey"
		[checked]="_value()"
		[class]="userClass()"
		(checkedChange)="onInput($event)"
		[disabled]="_disabled() || isReadonly()"
	/>
</ng-template>

<ng-template #textFieldTemplate>
	<ng-container [ngTemplateOutlet]="labelTemplate"/>
	<input
		[id]="fieldKey"
		(blur)="onControlTouched()"
		[value]="_value()"
		[class]="userClass()"
		(input)="onInput($any($event.target!).value?.trim())"
		[disabled]="_disabled()"
		[readonly]="isReadonly()"
		hlmInput
		[placeholder]="fieldKey + '.description' | translate"
	/>
</ng-template>

<ng-template #labelTemplate>
	<label class="block" hlmLabel [for]="fieldKey">
		@if (schema().key | isString) {
			{{ fieldKey + ".title" | translate }}
		} @else {
			{{ fieldKey + '.title' | translate:$any(schema()!.key).titleArgs }}
		}
	</label>
</ng-template>
