@if (!renderForm()) {
<ng-container [ngTemplateOutlet]="formTemplate" />
} @else {
<ng-container [ngTemplateOutlet]="previewTemplate" />
}

<ng-template #previewTemplate>
  <ng-container [ngTemplateOutlet]="header" />
  <cv-form-renderer [formDefinition]="formModel().value()" />
</ng-template>
<ng-template #formTemplate>
  <ng-container [ngTemplateOutlet]="header" />
  <form
    class="h-full block"
    (reset)="onFormDiscard($event)"
    (submit)="onFormSubmit($event)"
    novalidate
  >
    <div class="container mx-auto py-9">
      <div
        hlmFieldGroup
        cdkDropList
        class="space-y-10"
        (cdkDropListDropped)="onFormItemsReordered($event)"
      >
        @for (item of formModel.items; track item) {
        <ng-container>
          @let component = formItemComponents[item.type().value()];
        </ng-container>
        <ng-container>
          @if (component != null) {
          <div
            cdkDrag
            (cdkDragStarted)="formModel().markAsTouched()"
            cdkDragLockAxis="y"
            class="relative group/form-item border block bg-card rounded rounded-tl-none focus-within:border-primary"
          >
            <div
              cdkDragHandle
              class="group-focus-within/form-item:border-primary! py-1 px-2 cursor-grab active:cursor-grabbing -translate-y-full z-21 text-xs absolute top-0 -left-px rounded-t flex items-center gap-2 bg-secondary border-x border-t"
            >
              <ng-icon name="lucideGrip" />
              <span class="capitalize"
                >{{ itemTypeNames[ item.type().value()] }}</span
              >
            </div>
            <div
              *cdkDragPlaceholder
              class="flex items-center justify-center bg-secondary border border-border border-dashed opacity-50 dark:opacity-80 h-75 w-full rounded p-3"
            >
              <p>Place here</p>
            </div>
            <div *cdkDragPreview class="">
              <div
                class="rounded-md p-3 bg-primary text-primary-foreground border border-border capitalize flex items-center justify-center gap-3"
              >
                <ng-icon name="lucideGrip" />
                <p>{{itemTypeNames[item.type().value()]}}</p>
              </div>
            </div>
            <ng-container
              [ngComponentOutlet]="component | async"
              [ngComponentOutletInputs]="{
						node: item,
						index: $index,
						showDebug: false
					}"
              [ngComponentOutletInjector]="itemComponentInjector"
            />
          </div>
          }
        </ng-container>
        }
      </div>
    </div>
  </form>
</ng-template>
<ng-template #header>
  <div class="sticky top-0 backdrop-blur z-99 border-b border-muted">
    <div class="container mx-auto p-2">
      <cv-form-designer-header
        [formState]="formModel()"
        (onSubmit)="onFormSubmit()"
        (onDiscard)="onFormDiscard()"
        (itemAdd)="addFormItem(formModel, $event)"
        [(previewing)]="renderForm"
      />
    </div>
  </div>
</ng-template>
<hlm-alert-dialog
  #pendingChanges
  [state]="pendingChangesDialogState()"
  (stateChanged)="pendingChangesDialogState.set($event)"
>
  <hlm-alert-dialog-content *hlmAlertDialogPortal="let ctx">
    <hlm-alert-dialog-header>
      <h2 hlmAlertDialogTitle>You have unsaved changes</h2>
      <p hlmAlertDialogDescription>
        Leaving will discard the pending changes you've made. Are you sure you
        want to proceed?
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <button
        [disabled]="formModel().submitting()"
        (click)="pendingChangesActionCallback?.('save')"
        class="cursor-pointer"
        hlmAlertDialogAction
      >
        @if (formModel().submitting()) {
        <hlm-spinner />
        }
        <span>Save and leave</span>
      </button>
      <button
        [disabled]="formModel().submitting()"
        (click)="pendingChangesActionCallback?.('discard')"
        class="cursor-pointer"
        hlmAlertDialogCancel
        variant="destructive"
      >
        Discard and leave
      </button>
      <button
        [disabled]="formModel().submitting()"
        (click)="pendingChangesActionCallback?.('stay')"
        class="cursor-pointer"
        hlmAlertDialogCancel
      >
        Stay here
      </button>
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
