name: Artifact Release
on:
  workflow_dispatch:

jobs:
  publish:
    strategy:
      matrix:
        os: ["windows", "macos", "linux"]
    runs-on: ${{ matrix.os }}-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .tool-versions
      - name: Enable Corepack
        run: corepack enable
      - name: Cache dependencies
        uses: actions/cache@v4
        id: cache
        with:
          path: "node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('pnpm-lock.yaml', 'package.json') }}
          restore-keys: |
            ${{ runner.os }}-modules-
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        if: steps.cache.outputs.cache-hit != 'true'
      - name: Publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm publish:electron
